<h3><center>( Python programming : core + Oop + adv )</center></h3>

<h2> lang. Practical notes...</h2>

<pre>
<b>Author : </b> Rajendra Kumar R.
<b>Last updated : </b> Jan. 2024
<b>IDE : </b> Jupyter notebook
<b>Language : </b> pyhton 3.12.0
<b>os : </b> Win 10 / win 11
</pre>

<center><h1>Python Fundamental</h1></center>

### Comments in Python :
Comments in Python are the lines in the code that are ignored by the interpreter during the execution of the program. Comments enhance the readability of the code and help the programmers to understand the code very carefully. we also comments code statements too.

<b>types of comments : </b>there are various types of comments in python programming. These are giving below.

1. single_line
2. multiple_line
3. string_literal
4. Doc_string

Let's see them one by one with examples, explanations and syntax.

<b>1. Single line Comments : </b>Python single-line comment starts with the hashtag symbol (#) with no white spaces and lasts till the end of the line. It’s useful for short explanations for variables, function declarations.

<B>SYNTAX:</B> # comments
<br><b>EXAMPLE:

In [1]:
print("line_1")
print("line_2")
# print("line_3")
print("line_4")

line_1
line_2
line_4

<b>2. Multiline Comments : </b>  Python does not provide the option for multiline. comments. However, there are different ways through which we can write multiline comments. like hashtag(#) or using string literals. we can use hashtag in starting of multiple lines that we want to comments.

<B>SYNTAX:</B>
<pre>
     # comments_1
     # comments_2
     # comments_3
     # ....</pre>
<b>EXAMPLE:

In [2]:
print("line_1")
print("line_2")
# print("line_3")
# print("line_4")
# print("line_5")
print("line_6")
# print("line_7")

line_1
line_2
line_6

<b>3. String Literals : </b> in this method, we use triple quotes('''comment''') or ("""comment""") to comments single or multiple line

<B>SYNTAX:</B>
<pre>
      code...statements
    '''comments_1
      comments_2
      comments_3
      ....'''
      code...statements</pre>
<b>EXAMPLE:

In [4]:
print("line_1")
print("line_2")
'''print("line_3")
print("line_4")
print("line_5")'''
print("line_6")
print("line_7")

line_1
line_2
line_6
line_7

<B>SYNTAX:</B>
<pre>code...statements
    """ comments_1
     comments_2
     comments_3
     ...."""
     code...statements</pre>
<b>EXAMPLE:

In [3]:
print("line_1")
print("line_2")
"""print("line_3")
print("line_4")
print("line_5")
print("line_6")"""
print("line_7")

line_1
line_2
line_7

<b>4. Doc_string Comments : </b>Python docstring is the string literals with triple quotes that appeared right after the function.
It is used to associate documentation that has been written with Python modules, functions, classes & methods and describe what they do. it is done using <b>"__doc__attribute"</b>.

<B>SYNTAX : </B>
<pre>
def function_name(args):
    """there is Doc_string"""
    function defination and result

print(function_name.__doc__)  ------> Print the docstring of multiply function
</pre>
<b>EXAMPLE : </B>

In [7]:
def multiply(a, b): 
    """Multiplies the value of a and b"""
    return a*b 

print(multiply.__doc__)
multiply(2,3)

Multiplies the value of a and b

6

### modules in python :
* let's see basics of modules in python than we'll dive deep about it later.
* modules are files that contain built-in functions, classes and variables.
* there are three type of modules mostly
1. <b>built-in(internal) : </b> all the modules exists in python standard library
2. <b>external : </b> this is the we add from other sources not exists in python standard libraries.
3. <b>user-define : </b> the modules user create for own purpose to improve own creativity.

* let's see example of external module <b>playsounds</b> to play music.

In [9]:
pip install playsound

Requirement already satisfied: playsound in c:\users\rajen\anaconda3\lib\site-packages (1.3.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
from playsound import playsound

playsound('E:\\PROJECT_MEDIA\\Aathma Rama Ananda Ramana_-_Brodha_V-No_English_Only_Hindi_Version-Spirituality-ॐ_.mp3')

<b>NOTE : </b> always exchange '\' and '/' to '\\' in path to execute the command coz single slash denoted to black_space character.

* let's try to play video

In [6]:
pip install opencv-python

Requirement already satisfied: opencv-python in c:\users\rajen\anaconda3\lib\site-packages (4.9.0.80)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.21.2 in c:\users\rajen\anaconda3\lib\site-packages (from opencv-python) (1.26.3)

In [3]:
pip install numpy

Requirement already satisfied: numpy in c:\users\rajen\anaconda3\lib\site-packages (1.26.3)
Note: you may need to restart the kernel to use updated packages.

In [1]:
pip install ffpyplayer

Requirement already satisfied: ffpyplayer in c:\users\rajen\anaconda3\lib\site-packages (4.5.1)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import cv2
import numpy as np
#ffpyplayer for playing audio
from ffpyplayer.player import MediaPlayer


video_path="E:\\PROJECT_MEDIA\\Best_romantic_Animated_status_video_YouTube.mp4"
def PlayVideo(video_path):
    video=cv2.VideoCapture(video_path)
    player = MediaPlayer(video_path)
    while True:
        grabbed, frame=video.read()
        audio_frame, val = player.get_frame()
        if not grabbed:
            print("End of video")
            break
        if cv2.waitKey(28) & 0xFF == ord("q"):
            break
        cv2.imshow("Video", frame)
        if val != 'eof' and audio_frame is not None:
            #audio
            img, t = audio_frame
    video.release()
    cv2.destroyAllWindows()
PlayVideo(video_path)

End of video

let's see <b>OS</b> built-in module.

In [33]:
import os
print(os.listdir)

<built-in function listdir>

Let's see "print()" function...

### print() function :
The print() function prints the specified message to the screen, or other standard output device.<br>
<b>SYNTAX : </b> print("this is a section to write...")
<br>
there are various way to use print() function.

* default way :

In [34]:
print("hello world")

hello world

* we can use it as basic calculator

In [35]:
print(2+3)

5

* notebook cell also can work as print function if you only execute it with result statements

In [37]:
12 + 13

25

* to print result with massage.

1.  default way.

In [39]:
a = 5
b = 3
c = a + b

print("sum = ",c)

sum =  8

In [40]:
a = 5
b = 3
c = a + b

print("sum of ",a," and ",b," is ",c)   # default way

sum of  5  and  3  is  8

* with f-string : 
  in this method you can print {values} in strings with using 'f' in starting of string in print() funtion..

In [41]:
a = 5
b = 3
c = a + b

print(f"sum of {a} and {b} is {c}")

sum of 5 and 3 is 8

* format method.

In [45]:
name1 = 'ram'
name2 = 'syam'
age = 25
place = 'taj-mahal'

print("{} and {} are friends and both are {} years old and went to {} in vecetion.".format(name1,name2,age,place))

ram and syam are friends and both are 25 years old and went to taj-mahal in vecetion.

In [43]:
name1 = 'ram'
name2 = 'syam'
age = 25
place = 'taj-mahal'

print("my favorite place {2}, and i'm {0} with {1} years old.".format(name1,age,place))

my favorite place taj-mahal, and i'm ram with 25 years old.

In [46]:
n1 = 'ram'
n2 = 'syam'
txt = "{} and {} are good friends."

print(txt.format(n1,n2))

ram and syam are good friends.

* using placeholder. % with d,i,c and f

In [48]:
a = 5.0
b = 3.0
c = a + b
sum = 'sum of %f and %f is'%(a,b)
print(sum,c)

sum of 5.000000 and 3.000000 is 8.0

* concate massage.

In [49]:
age = '34'
msg = 'my name is john, and I am ' + age

print(msg)

my name is john, and I am 34

In [51]:
s1 = 'i a raj'
s2 = 'am 25 years old'

print(s1+s2)

i a rajam 25 years old

* other way.

In [53]:
x = 'I'
y = 'am'
z = 'ram'
print(x + y + z)

Iamram

In [52]:
x = 'I'
y = 'am'
z = 'ram'
print(x,y,z)

I am ram

### type() function : 
This is built0in function to print the data type of given variable or value. it take only one argument.</br>
This code assigns variable ‘x’ different values of various data types in Python. It covers string, integer, float, complex, list, tuple, range, dictionary, set, frozenset, boolean, bytes, bytearray, memoryview, and the special value ‘None’ successively. Each assignment replaces the previous value, making ‘x’ take on the data type and value of the most recent assignment.

<b>SYNTAX:</b> type(x)

In [1]:
a = 12

In [2]:
type(a)

int

In [9]:
b = True
print(type(b))

<class 'bool'>

In [8]:
c = 2 + 3j
print(type(c))

<class 'complex'>

### Data types:

There are different types of data types in Python. Some built-in Python data types are set, frozenset

* <b>Numeric data types: </b> int, float, complex, long
* <b>String data types: </b> str
* <b>Sequence types:</b> list, tuple, range,
* <b>Binary types: </b>bytes, bytearray, memoryviewe
* <b>Mapping data type:</b> dict 
* <b>Boolean type: </b>bool
* <b>Set data types: </b>set, frozenset
* <b>None type : </b>None

Let'a see them by examples.

* <b>Numeric data type:</b>

Python numeric data type is used to hold numeric values like;

1. <b>int-</b>holds signed integers of non-limited length.
2. <b>long-</b>holds long integers(exists in Python 2.x, deprecated in Python 3.x).
3. <b>float-</b>holds floating precision numbers and it’s accurate up to 15 decimal places.
4. <b>complex-</b>holds complex numbers.

<b>1. Integer data type: </b>an integer is a whole number that can be positive, negative, or zero. Integers do not include decimals or fractions. <br>
<b>Example:</b>
Here are some examples of integers: <br>
-5, 0, 1, 5, 8, 97, 3,043. <br>
Here are some examples of numbers that are not integers:<br>
-1.43, 1 3/4, 3.14, .09, 5,643.1. <br>
Integers are also called "round numbers" or "whole numbers". In computer science, an integer is a value that can range from 0 to 65,535.

In [3]:
a = 10
b = -5

print("a = ",a)
print("data type of a = ",type(a))

print("b = ",b)
print("data type of b = ",type(b))

a =  10
data type of a =  <class 'int'>
b =  -5
data type of b =  <class 'int'>

<b>2. float data type:</b>
A floating point number, is a positive or negative whole number with a decimal point. For example, 5.5, 0.25, and -103.342 are all floating point numbers, while 91, and 0 are not. Floating point numbers get their name from the way the decimal point can "float" to any position necessary.

In [4]:
a = 10.6
b = -5.13

print("a = ",a)
print("data type of a = ",type(a))

print("b = ",b)
print("data type of b = ",type(b))

a =  10.6
data type of a =  <class 'float'>
b =  -5.13
data type of b =  <class 'float'>

<b>3. complex number:</b> In mathematics, a complex number is an element of a number system that extends the real numbers with a specific element denoted i, called the imaginary unit and satisfying the equation; every complex number can be expressed in the form, where a and b are real numbers<br>
<b>SYNTAX:</b> complex numbers are: a + bi, a - bi, bi.

In [8]:
a = 3 + 4j
b = 3j

print("a = ",a)
print(type(a))

print("b = ",b)
print(type(b))

a =  (3+4j)
<class 'complex'>
b =  3j
<class 'complex'>

* some basic math with complex numbers.

In [1]:
#  complex number operations
a = 3 + 4j
b = 5 + 9j

c1 = a + b
c2 = a - b
c3 = a * b
c4 = a / b
c5 = a ** b

print("a + b",c1)
print(type(c1))
print("a - b",c2)
print(type(c2))
print("a * b",c3)
print(type(c3))
print("a / b",c4)
print(type(c4))
print("a ** b",c5)
print(type(c5))

a + b (8+13j)
<class 'complex'>
a - b (-2-5j)
<class 'complex'>
a * b (-21+47j)
<class 'complex'>
a / b (0.4811320754716981-0.06603773584905659j)
<class 'complex'>
a ** b (0.714704513387209+0.19923326288380847j)
<class 'complex'>

<b>4. long data type : </b>The long data type stores integers like int , but gives a wider range of values at the cost of taking more memory. Long stores at least 32 bits, giving it a range of -2,147,483,648 to 2,147,483,647. Alternatively, use unsigned long for a range of 0 to 4,294,967,295.

b = 187687654564658970978909869576453
print("b = ",b)
print(type(b))
----------------------------------------------
b =  187687654564658970978909869576453
<class 'long'>

<b>RANDOM NUMBER : </b>to get random number in python we use random module

<b>EXAMPLE:</b> let's see some basic code will dive deep later.

In [14]:
import random
a = [1,2,3,4,5]
print(random.choice(a))   
# check it again

5

In [11]:
import random
num = random.random()
print(num)

0.5419794621608753

* <b>Strings : </b>The string is a sequence of characters. Python supports Unicode characters. Generally, strings are represented by either single or double-quotes.

* string with single qoute

In [15]:
a = 'i am string'
print("a = ",a)
print("data type of a = ",type(a))

a =  i am string
data type of a =  <class 'str'>

* string with double qoute

In [16]:
a = "i am string"
print("a = ",a)
print("data type of a = ",type(a))

a =  i am string
data type of a =  <class 'str'>

* string with multiple line with single quote

In [17]:
a = '''i am
a string
with
multiple line '''
print("a = ",a)
print("data type of a = ",type(a))

a =  i am
a string
with
multiple line
data type of a =  <class 'str'>

* string with multiple line with double quote

In [ ]:
a = """i am
a string
with
multiple line"""
print("a = ",a)
print("data type of a = ",type(a))

* string types according to quotes used inside or outside of strings.

In [18]:
a = '"ram" and "shyam" is my friend.'
b = "mohan is meena's friend"
c = '''"ram" is mohan's brother and a good student'''
d = """"ram" is mohan's brother and a good student"""

print('strings are :')
print("1. ",a)
print(type(a))
print("2. ",b)
print(type(b))
print("3. ",c)
print(type(c))
print("4. ",d)
print(type(d))

strings are :
1.  "ram" and "shyam" is my friend.
<class 'str'>
2.  mohan is meena's friend
<class 'str'>
3.  "ram" is mohan's brother and a good student
<class 'str'>
4.  "ram" is mohan's brother and a good student
<class 'str'>

<b>NOTE :</b>We'll see string functions later.

* <b>Sequence data type :</b>

<b>NOTE :</b>We'll see these data types later.

<b>1. list: </b>
A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ] .

In [2]:
x = [10, 11, 12, 13, 14, 15]

print(x)
print(type(x))

[10, 11, 12, 13, 14, 15]
<class 'list'>

<b>2. tuple: </b>Python tuples are a type of data structure that is very similar to lists. The main difference between the two is that tuples are immutable, meaning they cannot be changed once they are created. This makes them ideal for storing data that should not be modified, such as database records.

In [4]:
x = (10, 11, 12, 13, 14, 15)

print(x)
print(type(x))

(10, 11, 12, 13, 14, 15)
<class 'tuple'>

<b>3. range:</b><br>
range is a function that returns a sequence of numbers. By default, range returns a sequence that begins at 0 and increments in steps of 1. The range function only works with integers.

In [5]:
x = range(6)
for n in x:
    print(n)

0
1
2
3
4
5

* <b>binary data type:</b>

<b>1. byte: </b>byte is a digital information unit that typically consists of 8 bits each of which consists of either a 0 or 1. A byte is a computer architecture term for memory storage that encodes a single character of text in a computer.

In [8]:
x = b"Hello"

print(x)
print(type(x))

b'Hello'
<class 'bytes'>

<b>2. bytearray: </b>The bytearray type is a mutable sequence of integers in the range between 0 and 255. It allows you to work directly with binary data. It can be used to work with low-level data such as that inside of images or arriving directly from the network. Bytearray type inherits methods from both list and str types.

In [7]:
x = bytearray(5)

print(x)
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

<b>3. memoryview: </b>In Python, a memory view is a secure technique to expose the buffer protocol. It allows you to access an object's internal buffers by constructing a memory view object. The memoryview() method in Python returns a memoryview object based on the bytes or bytearray parameter.

In [6]:
x = memoryview(bytes(5))

print(x)
print(type(x))

<memory at 0x0000020AE693E380>
<class 'memoryview'>

* <b>mapping data type: </b>The mapping data type in Python includes dictionaries. Dictionaries are used to store key-value pairs, where each key is associated with a value.

<b>1. dictionary: </b>Dictionaries are Python's implementation of a data structure that is more generally known as an associative array. A dictionary consists of a collection of key-value pairs. Each key-value pair maps the key to its associated value.

In [9]:
x = {"name" : "John", "age" : 36}

print(x)
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

<b>NOTE :</b>We'll see these data types later.

* <b>bool data type: </b>The python data type bool is used to store two values i.e True and False . Bool is used to test whether the result of an expression is true or false. Let's see them by examples,

In [22]:
a = True  #boolean
b = False 
print(a)
print(type(a))
print(b)
print(type(b))

True
<class 'bool'>
False
<class 'bool'>

In [21]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [20]:
print(bool("Hello"))
print(bool(15))

True
True

* <b>set data type:</b>

<b>1. set: </b>A Set in Python is a collection of data type that is unordered and unindexed. It is mutable, i.e., we can remove or add elements to it. Set in python is similar to mathematical sets, and operations like intersection, union, symmetric difference, and more can be applied.

In [11]:
x = {"apple", "banana", "cherry"}

print(x)
print(type(x))

{'cherry', 'banana', 'apple'}
<class 'set'>

<b>NOTE :</b>We'll see these data types later.`

<b>2. frozen set: </b> An immutable version of a Python set object is a frozen set. While parts of a set can be changed at any moment, elements of a frozen set don't change after they've been created. As a result, frozen sets can be used as Dictionary keys or as elements of other sets.

In [10]:
x = frozenset({"apple", "banana", "cherry"})

print(x)
print(type(x))

frozenset({'cherry', 'banana', 'apple'})
<class 'frozenset'>

<b>Quiz: </b>difference between set and frozen set.

<p>The set type is mutable, meaning it can be changed, and the frozenset type is immutable, meaning it can't be changed.</p>
<p>Here is a table that summarizes the key differences between sets and frozensets:</p>

<table style="width:100%">
  <tr>
    <th>feature</th>
    <th>set</th>
    <th>frozenset</th>
  </tr>
  <tr>
    <td>mutability</td>
    <td>mutable</td>
    <td>immutable</td>
  </tr>  
  <tr>
    <td>hashable</td>
    <td>yes</td>
    <td>yes</td>
  </tr>
  <tr>
    <td>ordered</td>
    <td>no</td>
    <td>no</td>
  </tr>
</table>

# Create a set
my_set = {1, 2, 3}

# Add an element to the set
my_set.add(4)

# Remove an element from the set
my_set.remove(2)

# Create a frozenset
my_frozenset = frozenset({1, 2, 3})

# Try to add an element to the frozenset
# This will raise a TypeError
my_frozenset.add(4)

# Try to remove an element from the frozenset
# This will also raise a TypeError
my_frozenset.remove(2)

* <b>None data type :</b>
In Python, None is a special keyword that represents the absence of a value or a null value. It is an object of its own datatype, the NoneType. We can assign None to any variable, but you can not create other NoneType objects. It can be used in a variety of situations, such as when you want to assign a value to a variable but don't have a value yet, when you want to pass a value to a function but don't have a value to pass, or when you want to return a value from a function but don't have a value to return.

In [19]:
a = None
print(a)
print(type(a))

None
<class 'NoneType'>

### Variable :
A Python variable is a reserved memory location to store values. In other words, a variable in a python program gives data to the computer for processing. Every value in Python has a datatype. Different data types in Python are Numbers, List, Tuple, Strings, Dictionary, etc.

<b>Rules for Python variables:</b>
* A Python variable name must start with a letter or the underscore character.
* A Python variable name cannot start with a number.
* A Python variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).
* Variable in Python names are case-sensitive (name, Name, and NAME are three different variables).
* The reserved words(keywords) in Python cannot be used to name the variable in Python.
  
<b>Notes: </b>
* The value stored in a variable can be changed during program execution.
* A Variables in Python is only a name given to a memory location, all the operations done on the variable effects that memory location.

<b>[Do]</b><br>
best way to naming variable is to use camel case ex. 'MyName' see 'M' and 'N' and only we can use '_' between characters<br><br>

In [4]:
a = 10
ram = 5
MyName = 'raj'
my_name = 'raj'
_my_name = 'raj'
my_name2 = 'raj'
MYNAME = 'raj'

<b>[Don't]</b><br>
no space, no special character

a b = 10
a%b = 1
a-b = 'ram'
2name = 'ram'

* multiple values in multiple variables

In [5]:
a,b,c = 10,11,12

print("a,b,c = 10,11,12")
print("a = ",a)
print("c = ",b)
print("c = ",c)

a,b,c = 10,11,12
a =  10
c =  11
c =  12

* put single values in multiple variables

In [8]:
x = y = z = 'ram'

print("x = y = z = 'ram'")
print("x = ",x)
print("y = ",y)
print("z = ",z)

x = y = z = 'ram'
x =  ram
y =  ram
z =  ram

* if you have collection of value i.e. list, tuple, set than you can extract their values in different-different variable.

In [7]:
cars = ['oudi', 'suzuki', 'benz', 'toyota']
a, b, c, d = cars
print("list = ",cars)
print("a = ",a)
print("b = ",b)
print("c = ",c)
print("d = ",d)

list =  ['oudi', 'suzuki', 'benz', 'toyota']
a =  oudi
b =  suzuki
c =  benz
d =  toyota

### Operators in python :
In Python programming, Operators in general are used to perform operations on values and variables. These are standard symbols used for the purpose of logical and arithmetic operations. In this article, we will look into different types of Python operators.ed.

* <b>OPERATORS:</b> These are the special symbols. Eg- + , * , /, etc.
* <b>OPERAND:</b> It is the value on which the operator is applied.

<b>types of operators:</b><br>
* Arithmetic operators
* Assignment operators
* Comparison/ Relational operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

<b>1. Arithmatic Operators : </b>Python Arithmetic operators are used to perform basic mathematical operations like addition, subtraction, multiplication, and division. In Python 3.x the result of division is a floating-point while in Python 2.x division of 2 integers was an integer. To obtain an integer result in Python 3.x floored (// integer) is used.

it is used for basic math problems.

* variable with values

In [1]:
a = 5
b = 3
c = 2.4
d = 3.1
e = True
f = False

* addition/ sum

In [9]:
a = 5
b = 3
c = 2.4
d = 3.1

sum1 = a + b
sum2 = c + d
print(f"sum of {a} and {b} :",sum1)
print(f"sum of {c} and {d} :",sum2)

sum of 5 and 3 : 8
sum of 2.4 and 3.1 : 5.5

* subtraction

In [10]:
a = 5
b = 3
c = 2.4
d = 3.1

sub1 = a - b
sub2 = c - d
print(f"sub of {a} and {b} :",sub1)
print(f"sub of {c} and {d} :",sub2)

sub of 5 and 3 : 2
sub of 2.4 and 3.1 : -0.7000000000000002

* multiplication

In [11]:
a = 5
b = 3
c = 2.4
d = 3.1

mul1 = a * b
mul2 = c * d
print(f"mul of {a} and {b} :",mul1)
print(f"mul of {c} and {d} :",mul2)

mul of 5 and 3 : 15
mul of 2.4 and 3.1 : 7.4399999999999995

* division

There are two types of division operators: 

1. Float division<br>
2. Floor division<br>

<b>Float division:</b>
The quotient returned by this operator is always a float number, no matter if two numbers are integers. It is just a normal math division.

<b>Example:</b> The code performs division operations and prints the results. It demonstrates that both integer and floating-point divisions return accurate results. For example, ’10/2′ results in ‘5.0’, and ‘-10/2’ results in ‘-5.0’.

In [9]:
print(5/5) 
print(10/2) 
print(-10/2) 
print(20.0/2)

1.0
5.0
-5.0
10.0

In [12]:
a = 5
b = 3
c = 2.4
d = 3.1

div1 = b / a
div2 = d / c
print(f"{b} divided by {a} :",div1)
print(f"{d}divided by {c} :",div2)

3 divided by 5 : 0.6
3.1divided by 2.4 : 1.2916666666666667

<b>Integer division(Floor division):</b>
The quotient returned by this operator is dependent on the argument being passed. If any of the numbers is float, it returns output in float. It is also known as Floor division because, if any number is negative, then the output will be floored.

In other words,<br>
Floor division is a normal division operation except that it returns the largest possible integer. This integer is either less than or equal to the normal division result. Floor function is mathematically denoted by this [] symbol.

<b>Example:</b> The code demonstrates integer (floor) division operations using the ‘//’ operator. It provides results as follows: ’10//3′ equals ‘3’, ‘-5//2’ equals ‘-3’, ‘5.0//2′ equals ‘2.0’, and ‘-5.0//2’ equals ‘-3.0’. Integer division returns the largest integer less than or equal to the division result.

In [8]:
print(10//3) 
print (-5//2) 
print (5.0//2) 
print (-5.0//2)

3
-3
2.0
-3.0

In [14]:
a = 5
b = 3
c = 2.4
d = 3.1

div1 = b // a
div2 = d // c
print(f"floor division of {b} and {a} :",div1)
print(f"floor division of {d} and {c} :",div2)

floor division of 3 and 5 : 0
floor division of 3.1 and 2.4 : 1.0

* exponatial/ power

In [3]:
a = 5
b = 3
c = 2.4
d = 3.1

ex1 = a ** b
ex2 = c ** d
print("a to the power b :",ex1) 
print("c to the power d :",ex2)

a to the power b : 125
c to the power d : 15.088805115741808

* reminder/modulus

In [13]:
a = 5
b = 3
c = 2.4
d = 3.1

rem1 = a % b
rem2 = c % d
print(f"mod of {a} and {b} :",rem1)
print(f"mod of {c} and {d} :",rem2)

mod of 5 and 3 : 2
mod of 2.4 and 3.1 : 2.4

<b>2. Assignment Operators : </b>Python Assignment operators are used to assign values to the variables. who hold '=' and used to assign value to exponant(variable).

In [17]:
x = 4
print("x =", x)

x += 3  #x = x + 3
print("(x += 3)=",x)

x -= 3  #x = x - 3
print("(x -= 3)=",x)

x *= 3  #x = x * 3
print("(x *= 3)=",x)

x /= 3  #x = x / 3
print("(x /= 3)=",x)

x %= 3  #x = x % 3
print("(x %= 3)=",x)

x /= 3  #x = x // 3
print("(x /= 3)=",x)

x **= 3  #x = x ** 3
print("(x **= 3)=",x)

x = 4
(x += 3)= 7
(x -= 3)= 4
(x *= 3)= 12
(x /= 3)= 4.0
(x %= 3)= 1.0
(x /= 3)= 0.3333333333333333
(x **= 3)= 0.03703703703703703

<b>3. Comparison/relational operators: </b>Comparison operators are used to compare two values. Comparison operators compare values and return true or false. They are also known as relational operators.

In [18]:
x = 5
y = 8

print("(x == y) = ",x == y)
print("(x != y) = ",x != y)
print("(x < y) = ",x < y)
print("(x <= y) = ",x <= y)
print("(x > y) = ",x > y)
print("(x >= y) = ",x >= y)

(x == y) =  False
(x != y) =  True
(x < y) =  True
(x <= y) =  True
(x > y) =  False
(x >= y) =  False

<b>4. Logical operator: </b>Returns True if both statements are true rather than false.

In [20]:
bool1 = True
bool2 = False

print("value of 'bool1 and bool2' is : ",bool1 and bool2)
print("value of 'bool1 or bool2' is : ",bool1 or bool2)
print("value of 'not bool2' is : ",not bool2)

value of 'bool1 and bool2' is :  False
value of 'bool1 or bool2' is :  True
value of 'not bool2' is :  True

<b>5. Identity Operators: </b>identity operators are the operators who used to compare the object that they are equal to or not.

In [22]:
x = 10
y = 15
z = 10

print("x = 10, y = 15, z = 10")
print("x is y : ", x is y)
print("x is not y : ", x is not y)
print("x is z : ", x is z)

x = 10, y = 15, z = 10
x is y :  False
x is not y :  True
x is z :  True

<b>6. membership operators: </b>it is used to test that specific value in give sequence or not.

In [23]:
x = [1, 2, 3, 4, 5]

print("1 in x = ",1 in x)
print("1 not in x = ",1 not in x)

1 in x =  True
1 not in x =  False

<b>7. Bitwise operator: </b>Bitwise operators are used to compare (binary) numbers.

<b>Note:</b> Python bitwise operators work only on integers.

* <b>Bitwise AND (&) operator: </b>Returns 1 if both the bits are 1 else 0.

In [24]:
print(6 & 3)

2

<pre><b>EXPLAINATION:</b>
The & operator compares each bit and set it to 1 if both are 1, otherwise it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
2 = 0000000000000010
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111</pre>

* <b>Bitwise OR(|) operator: </b>Returns 1 if either of the bit is 1 else 0.

In [25]:
print(6 | 3)

7

<pre><b>EXPLAINATION:</b>
The | operator compares each bit and set it to 1 if one or both is 1, otherwise it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
7 = 0000000000000111
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111</pre>

* <b>Bitwise Not(~) operator: </b>inverts individual bits

In [27]:
print(~3)

-4

<pre><b>EXPLAINATION:</b>
The ~ operator inverts each bit (0 becomes 1 and 1 becomes 0).

Inverted 3 becomes -4:
 3 = 0000000000000011
-4 = 1111111111111100

Decimal numbers and their binary values:
 4 = 0000000000000100
 3 = 0000000000000011
 2 = 0000000000000010
 1 = 0000000000000001
 0 = 0000000000000000
-1 = 1111111111111111
-2 = 1111111111111110
-3 = 1111111111111101
-4 = 1111111111111100</pre>

* Bitwise XOR(^) operator

In [36]:
print(10 ^ 4)

14

<pre><b>EXPLAINATION:</b>
a = 10 = 1010 (Binary)
b = 4 =  0100 (Binary)

a ^ b = 1010
         ^
        0100
      = 1110
      = 14 (Decimal)</pre>

* <b> Bitwise right shift(>>) operator:</b> The left operand’s value is moved toward right by the number of bits specified by the right operand.

In [29]:
print(8 >> 2)

2

<pre><b>EXPLAINATION:</b>
The >> operator moves each bit the specified number of times to the right. Empty holes at the left are filled with 0's.

If you move each bit 2 times to the right, 8 becomes 2:
 8 = 0000000000001000
becomes
 2 = 0000000000000010

Decimal numbers and their binary values:
 0 = 0000000000000000
 1 = 0000000000000001
 2 = 0000000000000010
 3 = 0000000000000011
 4 = 0000000000000100
 5 = 0000000000000101
 6 = 0000000000000110
 7 = 0000000000000111
 8 = 0000000000001000
 9 = 0000000000001001
10 = 0000000000001010
11 = 0000000000001011
12 = 0000000000001100</pre>

* <b>Bitwise left shift(<<) operator:</b>The left operand’s value is moved toward left by the number of bits specified by the right operand.

In [30]:
print(3 << 2)

12

<pre><b>EXPLAINATION:</b>
The << operator inserts the specified number of 0's (in this case 2) from the right and let the same amount of leftmost bits fall off:

If you push 00 in from the left:
 3 = 0000000000000011
becomes
12 = 0000000000001100

Decimal numbers and their binary values:
 0 = 0000000000000000
 1 = 0000000000000001
 2 = 0000000000000010
 3 = 0000000000000011
 4 = 0000000000000100
 5 = 0000000000000101
 6 = 0000000000000110
 7 = 0000000000000111
 8 = 0000000000001000
 9 = 0000000000001001
10 = 0000000000001010
11 = 0000000000001011
12 = 0000000000001100</pre>

# Operator Precedence
Operator precedence describes the order in which operations are performed.
(read online)

operator and operator preceding in w3school and geeks for geeks portal match

### Operator Precedence and Associativity in Python

operators have different levels of precedence, which determine the order in which they are evaluated. When multiple operators are present in an expression, the ones with higher precedence are evaluated first. In the case of operators with the same precedence, their associativity comes into play, determining the order of evaluation.

* <B>Precedence of Python Operators:</B>
This is used in an expression with more than one operator with different precedence to determine which operation to perform first.

<B>EXAMPLE:</B>

* Precedence of <b>'+' </b> & <b> '*'</b>

In [2]:
expr = 10 + 20 * 30
print(expr)

610

<b>EXPLAINATION:</b><br>
<b>10 + 20 * 30</b> is calculated as <b>10 + (20 * 30) </b><br>
and<b> not as (10 + 20) * 30</b><br>

* <b>Precedence of Logical Operators in Python:</b>
In the given code, the ‘if‘ block is executed even if the age is 0. Because the precedence of logical ‘and‘ is greater than the logical ‘or‘.<br><br>
An expression is a collection of numbers, variables, operations, and built-in or user-defined function calls. The Python interpreter can evaluate a valid expression.

* Precedence of <b>'or'</b> & <b>'and'</b>

In [3]:
name = "Alex"
age = 0

if name == "Alex" or name == "John" and age >= 2:
	print("Hello! Welcome.")
else:
	print("Good Bye!!")

Hello! Welcome.

Hence, To run the ‘else‘ block we can use parenthesis( ) as their precedence is highest among all the operators.

In [5]:
name = "Alex"
age = 0

if (name == "Alex" or name == "John") and age >= 2:
	print("Hello! Welcome.")
else:
	print("Good Bye!!")

Good Bye!!

* <b>Associativity of Python Operators:</b>
If an expression contains two or more operators with the same precedence then Operator Associativity is used to determine. It can either be Left to Right or from Right to Left.

<b>EXAMPLE:</b><br>
In this code, ‘*’ and ‘/’ have the same precedence and their associativity is Left to Right, so the expression “100 / 10 * 10” is treated as “(100 / 10) * 10”.

In [7]:
print(100 / 10 * 10)
print(5 - 2 + 3)
print(5 - (2 + 3))
print(2 ** 3 ** 2)

100.0
6
0
512

<pre>
<b>EXPLAINATIONS :</b><br>
1. Left-right associativity :<br>
for <b>print(100 / 10 * 10)</b>
=> 100 / 10 * 10 is calculated as
=> (100 / 10) * 10 and not
=> as 100 / (10 * 10)
Ans. = 100.0
-------------------------------------
2. Left-right associativity:<br>
for<b> print(5 - 2 + 3)</b>
=> 5 - 2 + 3 is calculated as
=> (5 - 2) + 3 and not
=> as 5 - (2 + 3)
Ans. = 6
-------------------------------------
3. left-right associativity:<br>
<b>print(5 - (2 + 3))</b>
=> 5 - (2 + 3) is calculated as
=> 5 - 5
Ans. = 0
-------------------------------------
4. right-left associativity:<br>
for <b>print(2 ** 3 ** 2)</b>
=> 2 ** 3 ** 2 is calculated as
=> 2 ** (3 ** 2) and not
=> as (2 ** 3) ** 2
Ans. = 512 </pre>

<B>Operators Precedence and Associativity in Python:</B>
Operators Precedence and Associativity are two main characteristics of operators that determine the evaluation order of sub-expressions in the absence of brackets.

<b>EXAMPLE:</b>

100 + 200 / 10 - 3 * 10

In [10]:
expression = 100 + 200 / 10 - 3 * 10
print(expression)

90.0

<pre>
<b>EXPLAINATION:</b><br>
100 + 200 / 10 - 3 * 10 is calculated as 100 + (200 / 10) - (3 * 10)
and not as (100 + 200) / (10 - 3) * 10
----------------------------------------------------------------------
=> 100 + (200 / 10) - (3 * 10)
=> 100 + 20 - 30
=> (100 + 20) - 30
=> 120 - 30
Ans. 90
</pre>

* <b>Non-associative Operators: </b>
In Python, most operators have associativity, which means they are evaluated from left to right or right to left when they have the same precedence. However, there are a few operators that are non-associative, meaning they cannot be chained together.

<pre>
<b>EXAMPLE:</b>
    
a = 5
b = 10
c = 15

a = b = (a < b) += (b < c)
<b>ERROR:</b>
Cell In[8], line 5
    a = b = (a < b) <b>+=</b> (b < c)
                    ^
<b>SyntaxError:</b> invalid syntax</pre>

<b>NOTE:</b>The following table shows the precedence of Python operators. It's in reverse order (the upper operator holds higher precedence than the lower operator).

<table width = 100%>
<tbody><tr>
<th>Operators</th>
<th>Meaning</th>
</tr>
<tr>
<td>()</td>
<td>Parentheses</td>
</tr>
<tr>
<td>**</td>
<td>Exponent</td>
</tr>
<tr>
<td>+x, -x, ~x</td>
<td>Unary plus, Unary minus, Bitwise NOT</td>
</tr>
<tr>
<td>*, /, //, %</td>
<td>Multiplication, Division, Floor division, Modulus</td>
</tr>
<tr>
<td>+, -</td>
<td>Addition, Subtraction</td>
</tr>
<tr>
<td>&lt;&lt;, &gt;&gt;</td>
<td>Bitwise shift operators</td>
</tr>
<tr>
<td>&amp;</td>
<td>Bitwise AND</td>
</tr>
<tr>
<td>^</td>
<td>Bitwise XOR</td>
</tr>
<tr>
<td>|</td>
<td>Bitwise OR</td>
</tr>
<tr>
<td>==, !=, &gt;, &gt;=, &lt;, &lt;=, is, is not, in, not in</td>
<td>Comparisons, Identity, Membership operators</td>
</tr>
<tr>
<td>not</td>
<td>Logical NOT</td>
</tr>
<tr>
<td>and</td>
<td>Logical AND</td>
</tr>
<tr>
<td>or</td>
<td>Logical OR</td>
</tr>
</tbody></table>

### Type Conveersion and Type Casting:
The two terms type casting and the type conversion are used in a program to convert one data type to another data type. The conversion of data type is possible only by the compiler when they are compatible with each other. Let's discuss the difference between type casting and type conversion in any programming language.

#### 1. type casting:
<b>What is a type casting? </b>When a data type is converted into another data type by a programmer or user while writing a program code of any programming language, the mechanism is known as type casting. The programmer manually uses it to convert one data type into another. It is used if we want to change the target data type to another data type. Remember that the destination data type must be smaller than the source data type. Hence it is also called a narrowing conversion.

There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

* <b>int() - </b>constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)
* <b>float() - </b>constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
* <b>str() - </b>constructs a string from a wide variety of data types, including strings, integer literals and float literals

* Integers:

In [19]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
#q = int('1.5')     # unable to do

print(x,"type of x : ",type(x))
print(y,"type of y : ",type(y))
print(z,"type of z : ",type(z))
#print(q,"type of q : ",type(q))

1 type of x :  <class 'int'>
2 type of y :  <class 'int'>
3 type of z :  <class 'int'>

* Floats:

In [20]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

print(x,type(x))
print(y,type(y))
print(z,type(z))
print(w,type(w))

1.0 <class 'float'>
2.8 <class 'float'>
3.0 <class 'float'>
4.2 <class 'float'>

* Strings:

In [21]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'  

print(x,type(x))
print(y,type(y))
print(z,type(z))

s1 <class 'str'>
2 <class 'str'>
3.0 <class 'str'>

#### 2. type conversion:
<b>What is a type conversion? </b>

type conversion is a technique to convert data type from one to another in possible ways.
to see the data type we use type() function and to covernt data type in typer converstion we use int(), float() and complex() functions.

You can convert from one type to another with the int(), float(), and complex() methods:

In [28]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

# before conversion
print("x : ",type(x))
print("y : ",type(y))
print("z : ",type(z))

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

x :  <class 'int'>
y :  <class 'float'>
z :  <class 'complex'>
1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

#### Difference betweenType Casting &Type Conversion:
<table>
<tbody><tr>
<th>S.N.</th>
<th>Type Casting</th>
<th>Type Conversion</th>
</tr>
<tr>
<td>1</td>
<td>Type casting is a mechanism in which one data type is converted to another data type using a casting () operator by a programmer.</td>
<td>Type conversion allows a compiler to convert one data type to another data type at the compile time of a program or code.</td>
</tr>
<tr>
<td>2</td>
<td>It can be used both compatible data type and incompatible data type.</td>
<td>Type conversion is only used with compatible data types, and hence it does not require any casting operator.</td>
</tr>
<tr>
<td>3</td>
<td>It requires a programmer to manually casting one data into another type.</td>
<td>It does not require any programmer intervention to convert one data type to another because the compiler automatically compiles it at the run time of a program.</td>
</tr>
<tr>
<td>4</td>
<td>It is used while designing a program by the programmer.</td>
<td>It is used or take place at the compile time of a program.</td>
</tr>
<tr>
<td>5</td>
<td>When casting one data type to another, the destination data type must be smaller than the source data.</td>
<td>When converting one data type to another, the destination type should be greater than the source data type.</td>
</tr>
<tr>
<td>6</td>
<td>It is also known as narrowing conversion because one larger data type converts to a smaller data type.</td>
<td>It is also known as widening conversion because one smaller data type converts to a larger data type.</td>
</tr>
<tr>
<td>7</td>
<td>It is more reliable and efficient.</td>
<td>It is less efficient and less reliable.</td>
</tr>
<tr>
<td>8</td>
<td>There is a possibility of data or information being lost in type casting.</td>
<td>In type conversion, data is unlikely to be lost when converting from a small to a large data type.</td>
</tr>
<tr>
<td>8</td>
<td><pre>float b = 3.0;
int a = (int) b</pre></td>
<td><pre>int x = 5, y = 2, c;
float q = 12.5, p;
p = q/x;</pre></td>
</tr>
</tbody></table>

### Input() function :
 it's used to take user input. By default, it returns the user input in form of a string.

In [1]:
name = input('enter your name : ')
add = input("enter your address : ")

print("my name is ",name," and ","i live in ",add)   #default type
print(f"my name is {name} and i live in {add}")      # using f-string

enter your name :  raj
enter your address :  indore

my name is  raj  and  i live in  indore
my name is raj and i live in indore

<b>NOTE: </b>input function take input as 'string' by default but with type conversion we can take input as any data type i.e. int and float.

In [3]:
a = input("enter any number: ")
print(a)
print(type(a))

enter any number:  12.4

12.4
<class 'str'>

In [4]:
a = float(input("enter any number: "))
print(a)
print(type(a))

enter any number:  12

12.0
<class 'float'>

In [5]:
a = int(input("enter any number: "))
print(a)
print(type(a))

enter any number:  12

12
<class 'int'>

In [6]:
a = float(input("enter no. 1 :"))
b = float(input("enter no. 2 :"))
c = a + b
sum = 'sum of %f and %f is'%(a,b)
print(sum,c)

enter no. 1 : 12.5
enter no. 2 : 13.7

sum of 12.500000 and 13.700000 is 26.2

### Strings (data type) :
sequence of character is known as string. there are various operation and functions, we can applied on strings.

In [8]:
str1 = "python programming"

print(str1)
print(type(str1))

python programming
<class 'str'>

In [9]:
greet = 'good morning !!!, '
name = input("enter name : ")

print(greet+name)

msg = greet+name
print(msg)

enter name :  xxxx

good morning !!!, xxxx
good morning !!!, xxxx

* <b>String indexing:</b>

In Python, individual characters of a String can be accessed by using the method of Indexing. Indexing allows negative address references to access characters from the back of the String, e.g. -1 refers to the last character, -2 refers to the second last character, and so on. 

While accessing an index out of the range will cause an IndexError. Only Integers are allowed to be passed as an index, float or other types that will cause a TypeError.

<b>1. positive indexing :</b>
The first character has an index of 0 , the character at position x has an index x - 1 , and the last character in the string has an index of string_length - 1 . If the index is greater than string_length - 1 , Python returns the error IndexError: string index out of range.

<pre>
n-element ->   +--+--+--+--+--+--+--+--+       +--+
string:    ->  |__|__|__|__|__|__|__|__|.......|__|
+ve index: ->   0  1  2  3  4  5  6  7 ........(n-1)
</pre>

In [10]:
name = "Rajendra Kumar Randa"
print("index of 0 :", name[0])
print("index of 2 :", name[2])
print("index of 18 :", name[18])

index of 0 : R
index of 2 : j
index of 18 : d

<b>ERROR :</b>
<pre>
name = "Rajendra Kumar Randa"
print("index of 23 :", name[23])

-------------------------------------------------------------------
IndexError                      Traceback (most recent call last)
Cell In[11], line 2
      1 name = "Rajendra Kumar Randa"
----> 2 <b>print("index of 23 :", name[23])</b>
    
IndexError: string index out of range</pre>

<b>2. nagative index: </b>
Negative indexing retrieves elements from the end by providing negative numbers as sequence indexes.

it goes to string = [-n, .... , -4, -3, -2, -1]

<pre>
               +--+--+--+--+--+--+--+--+
string:    ->  |__|__|__|__|__|__|__|__|
+ve index: ->   -8 -7 -6 -5 -4 -3 -2 -1 
</pre>

In [12]:
name = "Rajendra Kumar Randa"

print("index of 2 :", name[-2])
print("index of 2 :", name[-14])

index of 2 : d
index of 2 : r

* <b>String Slicing :</b>
In Python, the String Slicing method is used to access a range of characters in the String. Slicing in a String is done by using a Slicing operator, i.e., a colon (:).  One thing to keep in mind while using this method is that the string returned after slicing includes the character at the start index but not the character at the last index.

<b>SYNTAX :</b> str_name(start_index:end_index:skip_increment_indexing_number)

In [14]:
name = "Rajendra Kumar Randa"

print(name)
print(type(name))
print(len(name))

print(name[0])
print(name[3])
print(name[4]) #not work for out of index
print(name[:5])
print(name[:4])
print(name[0:])
# print(name[1:3]) #[1:2]
c = name[-4:-2] #nagative index
print(c)
print(name[-4:-2])
d = name[1::5] #ski p indexing value
d = name[0:6:1] #string[start_index:end_index:skip_index]
print(d)

Rajendra Kumar Randa
<class 'str'>
20
R
e
n
Rajen
Raje
Rajendra Kumar Randa
an
an
Rajend

In [15]:
l = [0, 1, 2, 3, 4, 5, 6, 7, 8]
m = l[0:9:2]
print(m)

[0, 2, 4, 6, 8]

<b>Functions on Strings : </b>

In [16]:
story = '''In “The Necklace” by Guy de Maupassant, the main character, 
Mathilde, has always dreamed of being an aristocrat but lives in 
poverty. Embarrassed about her lack of fine possessions, she borrows a 
necklace from a wealthy friend but loses it. The story is known for its 
subversive and influential twist ending.'''

In [19]:
story

'In “The Necklace” by Guy de Maupassant, the main character, \nMathilde, has always dreamed of being an aristocrat but lives in \npoverty. Embarrassed about her lack of fine possessions, she borrows a \nnecklace from a wealthy friend but loses it. The story is known for its \nsubversive and influential twist ending.'

In [20]:
print(story)

In “The Necklace” by Guy de Maupassant, the main character,
Mathilde, has always dreamed of being an aristocrat but lives in
poverty. Embarrassed about her lack of fine possessions, she borrows a
necklace from a wealthy friend but loses it. The story is known for its
subversive and influential twist ending.

In [18]:
print("length : ",len(story))

length :  312

In [1]:
story = "A quick brown fox jumps  over the lazy dog . dog are smart pet."

print(story)
print(len(story))
print(story.startswith(' '))
print(story.startswith('A'))
print(story.endswith("dog"))
print(story.endswith("."))
print(story.count("v"))
print(story.count("brown"))
print(story.count(" "))
print(story.find("fox"))
print(story.find(" "))
print(story.replace("dog", "cat"))

A quick brown fox jumps  over the lazy dog . dog are smart pet.
63
False
True
False
True
1
1
14
14
1
A quick brown fox jumps  over the lazy cat . cat are smart pet.

* put center to any string use <b>string_name.center(total_space_for_string) </b>
* put center to any string use <b>string_name.center(total_space_for_string,"character_used_to_fill_space") </b>
* put right side to any string use <b>string_name.rjust(total_space_for_string,"character_used_to_fill_space")</b>
* put left side to any string use <b>string_name.ljust(total_space_for_string,"character_used_to_fill_space")</b>

In [1]:
s = "you are welcome"

print(s.center(50))
print(s.center(50,'*'))
print(s.rjust(50,'*'))
print(s.ljust(50,'*'))

                 you are welcome
*****************you are welcome******************
***********************************you are welcome
you are welcome***********************************

### space sequence character:
they are special characters who used to make output better.
some of them are :
* \n : new line
* \t : a tab
* \ \ : useing \
* \ : use same quote as start or end inside the strings and etc.

<b>EXAMPLES:</b>

In [22]:
new_story = "this is a ball.\nthis color is blue.\nin maths,\n\tif we divide 2 into 2 (2/2) is 1\n and this is harry\'s\tball.\\'"

print(new_story)

this is a ball.
this color is blue.
in maths,
	if we divide 2 into 2 (2/2) is 1
 and this is harry's	ball.\'

* <b>Quiz.</b>format giving letter usinf space sequence characters.<br>
letter = "Dear <|NAME|>, greeting from company 'ABC'. I'm happy to tell about your selection. you're selected. have a great day! date: <|DATE|>".<br>
<b>NOTE:</b> "NAME" and "DATE" are given by users.

In [23]:
letter = '''Dear <|NAME|> ,
greeting from company 'ABC'. I'm happy to tell about your selection. 
you're selected.\n
have a great day!
\t\t\t\t\t\tdate: <|DATE|>'''

name = input("enter your name: ")
date = input("enter date: ")

letter = letter.replace("<|NAME|>",name)
letter = letter.replace("<|DATE|>",date)

print("********** greeting ************")
print(letter)

enter your name:  raj
enter date:  12/12/24

********** greeting ************
Dear raj ,
greeting from company 'ABC'. I'm happy to tell about your selection.
you're selected.

have a great day!
						date: 12/12/24

<b>QUIZ :</b> find double space and exchange it to single?<br>
1. str1 = "this is my  ball."<br>
2. str2 = "this is my pen."<br>
3. str3 = "this  is my  book."<br>

In [25]:
str1 = "this is my  ball."
str2 = "this is my pen."
str3 = "this  is my  book."
doublespace1 = str1.find("  ")
doublespace2 = str2.find("  ")
print(doublespace1)
print(doublespace2)

str3 = str3.replace("  "," ")
print(str3)

10
-1
this is my book.

<b>QUIZ : </b>format the given latter? 
ltr = "dear harry, this python course is nice!thanks!"

In [26]:
formatted_letter = "dear harry, \n\tthis python course is nice!\n\t\t\t\t\t\t\tthanks!"
print(formatted_letter)

dear harry,
	this python course is nice!
							thanks!

### List (data type) :
Lists are used to store multiple items in a single variable.
it's changable/ mutable and indexed/ordered, it allows duplicates.

* <b>empty list: </b> we represent empty list or list with no elements via "[ ]" sign or list().

In [20]:
l = []
print(l)
print(len(l))
print(type(l))

[]
0
<class 'list'>

In [21]:
l = list()
print(l)
print(len(l))
print(type(l))

[]
0
<class 'list'>

* <b>insert function: </b> It is used to insert an element in any list.<br>

<b>SYNTAX:</b>
<pre>
list_name.insert(index,value)
</pre>

where, <b>index</b> is the position we want to insert the element and <b>value</b> is the value of element we want to insert.

In [3]:
l = []
l.insert(0,2)  # list_name[index, value]
print(l)
print(len(l))
print(type(l))

[2]
1
<class 'list'>

In [32]:
num = [1, 16, 56, 10, 14, 1, 0]
print(num)


num.insert(0, 2.3)      # insert(index no, value)
print("insert '2.3' on index[0] : ",num)

[1, 16, 56, 10, 14, 1, 0]
insert '2.3' on index[0] :  [2.3, 1, 16, 56, 10, 14, 1, 0]

* basic function of list:

In [22]:
a = [1, 2.3, 'ram', True, 0, 0, 0]

print("list : ",a)
print("type : ",type(a))
print("length : ",len(a))

list :  [1, 2.3, 'ram', True, 0, 0, 0]
type :  <class 'list'>
length :  7

* <b>indexing in list: </b> it works same as work on string elements.<br>
<b>+ve index:</b> it works like: [0,1,2,.......,n-2,n-1]<br>
<b>-ve index:</b> it works like: [n,n-1,.......,-3,-2,-1]

In [7]:
a = [1, 2.3, 'ram', True, 0, 0, 0]

print("list : ",a)
print("index of [0] : ",a[0])
print("index of [2] : ",a[2])
print("type of element of list on index[1] : ",type(a[1]))
print("type of element of list on index[2] : ",type(a[2]))

list :  [1, 2.3, 'ram', True, 0, 0, 0]
type :  <class 'list'>
length :  7
index of [0] :  1
index of [2] :  ram
type of element of list on index[1] :  <class 'float'>
type of element of list on index[2] :  <class 'str'>

In [28]:
friends = ["ram","syam","mohan","sohan","meena","sita", 4, 500]

print(" list of friends = ",friends)
print("friends[3] =  ",friends[3])
print("friends[-3] =  ",friends[-3])

 list of friends =  ['ram', 'syam', 'mohan', 'sohan', 'meena', 'sita', 4, 500]
friends[3] =   sohan
friends[-3] =   sita

<pre><b>ERROR:</b>out of index.

a = [1, 2.3, 'ram', True, 0, 0, 0]
print("index of [7] : ",a[7])
-------------------------------------------------------------
IndexError                  Traceback (most recent call last)
Cell In[6], line 2
      1 a = [1, 2.3, 'ram', True, 0, 0, 0]
----><b>2 print("index of [7] : ",a[7])</b>

<b>IndexError:</b> list index out of range</pre>

* <b>update function: </b>it is used to update the value.<br>
<b>list_name[index]  = new_value</b>

In [23]:
a = [1, 2.3, 'ram', True, 0, 0, 0]

print("before update item on index[6] list will be : ",a)
a[6] = 9
print("after update item on index[6] list will be : ",a)

before update item on index[6] list will be :  [1, 2.3, 'ram', True, 0, 0, 0]
after update item on index[6] list will be :  [1, 2.3, 'ram', True, 0, 0, 9]

In [30]:
friends = ["ram","syam","mohan","sohan","meena","sita", 4, 500]

print(" list of friends = ",friends)
friends[1] = "juhi"
print("after update item on index[1] friends list will be : ",friends)

 list of friends =  ['ram', 'syam', 'mohan', 'sohan', 'meena', 'sita', 4, 500]
after update item on index[1] friends list will be :  ['ram', 'juhi', 'mohan', 'sohan', 'meena', 'sita', 4, 500]

In [31]:
friends = ["ram","syam","mohan","sohan","meena","sita", 4, 500]

print(" list of friends = ",friends)
friends[-1] = "kajal"
print("after update item on index[-1] friends list will be : ",friends)

 list of friends =  ['ram', 'syam', 'mohan', 'sohan', 'meena', 'sita', 4, 500]
after update item on index[-1] friends list will be :  ['ram', 'syam', 'mohan', 'sohan', 'meena', 'sita', 4, 'kajal']

* <b>slicing in list:</b> it means print or choose specific part of list.<br>
<b>SYNTAX: </b> list_name[starting_index:ending_index:skipping_index_numbers]

<b>NOTE: </b>you can skip anyone of part of index, if you skip any part than then default values of starting_index is '0', ending_index is 'n' and skipping_index_numbers is 1

In [29]:
friends = ["ram","syam","mohan","sohan","meena","sita", 4, 500]

print(" list of friends = ",friends)
print("slice with index friends[:4] = ",friends[:4]) #slice with index
print("slice with index friends[-4:] = ",friends[-4:]) #slice with index

 list of friends =  ['ram', 'syam', 'mohan', 'sohan', 'meena', 'sita', 4, 500]
slice with index friends[:4] =  ['ram', 'syam', 'mohan', 'sohan']
slice with index friends[-4:] =  ['meena', 'sita', 4, 500]

<b>NOTE: </b> list work on all function of string as string.

In [10]:
num = [1, 16, 56, 10, 0, 14, 0]

print("num[:3] = ",num[:3])    # num[0:3]
print("num[3:] = ",num[3:])    # num[3:last element]
print("num[::2] = ",num[::2])    #num[0:n-1:2nd element skipped]

num[:3] =  [1, 16, 56]
num[3:] =  [10, 0, 14, 0]
num[::2] =  [1, 56, 0, 0]

* <b>sort function: </b>used to sort the elements of list.<br>
<b>SYNTAX: </b> list_name.sort()

In [16]:
num = [1, 16, 56, 10, 0, 14, 0]
print("list : ",num)
num.sort()
print("sorted list : ",num)

list :  [1, 16, 56, 10, 0, 14, 0]
sorted list :  [0, 0, 1, 10, 14, 16, 56]

* <b>reverse function: </b>used to reverse the elements of list.<br>
<b>SYNTAX: </b> list_name.reverse()

In [17]:
num = [1, 16, 56, 10, 0, 14, 0]

print("list : ",num)
num.reverse()
print("reversed list : ",num)

list :  [1, 16, 56, 10, 0, 14, 0]
reversed list :  [0, 14, 0, 10, 56, 16, 1]

* <b>append function:</b> this function add value after the last element.<br>
<b>SYNTAX: </b> list_name.append(value)

In [19]:
num = [1, 16, 56, 10, 14, 1, 0]
print(num)

num.append(50)
print("append 50 : ",num)

[1, 16, 56, 10, 14, 1, 0]
append 50 :  [1, 16, 56, 10, 14, 1, 0, 50]

* <b>pop function: </b> it is used to remove the elements using index or last added item.<br>
<b>SYNTAX:</b> <b>type 1-</b>list_name.pop(index), <b>type 2-</b>list_name.pop()<br>
type 1,remove the element exists in given index and type 2, remove last added item in list.

<b>type 1-</b>list_name.pop(index),<br>
type 1,remove the element exists in given index in list.

In [12]:
num = [1, 16, 56, 10, 14, 1, 0]
print(num)
num.pop(1)      # pop(index)
print("pop '1' : ",num)

[1, 16, 56, 10, 14, 1, 0]
pop '1' :  [1, 56, 10, 14, 1, 0]

<b>type 2-</b>list_name.pop()<br>
type 2, remove last added item in list.

In [11]:
num = [1, 16, 56, 10]
print(num)
# insert some elements in the last index(append)
num.append(10)
num.append(14)
num.append(1)
num.append(0)
num.insert(1,13)
print(num)

num.pop()
print("pop : ",num)  #remove last added item

[1, 16, 56, 10]
[1, 13, 16, 56, 10, 10, 14, 1, 0]
pop :  [1, 13, 16, 56, 10, 10, 14, 1]

* <b>remove function: </b> it removes the element from list.<br>
<b>SYNATX: </b>list_name(value)

In [15]:
num = [1, 16, 56, 10, 14, 1, 0]
print(num)

num.remove(0)   # remove(value)
print("remove '0' : ",num)

[1, 16, 56, 10, 14, 1, 0]
remove '0' :  [1, 16, 56, 10, 14, 1]

* <b> del function:</b> it is used to delete element and also delete whole list from source.<br>
<b>SYNTAX:</b> <b>type 1-</b>list_name.del(index), <b>type 2-</b>list_name.del()<br>

<b>type 1-</b>list_name.pop(index)

In [16]:
num = [1, 16, 56, 10, 14, 1, 0]
print(num)

del num[1]      # delete item permanently from source list on index 1
print("del index[1] : ",num)

[1, 16, 56, 10, 14, 1, 0]
del index[1] :  [1, 56, 10, 14, 1, 0]

<b>type 2-</b>list_name.pop()<br>
* delete list permanently from source

<pre><b>ERROR:</b>

num = [1, 16, 56, 10, 14, 1, 0]

print(num)
del num         # delete list permanently from source
print(num)
--------------------------------------------------------------------
[1, 16, 56, 10, 14, 1, 0]
NameError                          Traceback (most recent call last)
Cell In[14], line 8
      5 print("del index[1] : ",num)
      7 del num         # delete list permanently from source
----> 8 print(num)      # after delete list permanently

NameError: name 'num' is not defined</pre>

### diference between del and clear function in list:

clear and del functions:
    
a = [1,3,5,6,4,6,3]
b = [1,3,54,2,5,7,4]
# del, delete entire list
# del a
print(a)
output: NameError: name 'a' is not defined
# clear() the list content
b.clear()
print(b)
output: []

* <b>extend function: </b> it is used to merge two data types.

* list with list

In [17]:
x = ['a','b','c']
y = ['p','q','z']
x.extend(y)
print(x)

['a', 'b', 'c', 'p', 'q', 'z']
['a', 'b', 'c', 1, 2, 3]

* list with tuple

In [19]:
p = ['a','b','c']
q = (1,2,3)
p.extend(q)
print(p)

['a', 'b', 'c', 1, 2, 3]

* <b>loops in list:</b>

* check wether given string is in list or not.

In [1]:
l = ['ram', 'sohan', 'mohan']
x = input("enter name :")
if x in l:
    print("yes,it is...")
else:
    print("no, it is not...")

enter name : ram

yes,it is...

* for loop in list:

* print item one by one all elements

In [3]:
x = [0, 10, 20, 30, 40, 50, 60, 70, 8, 90, 100]
    
for item in x:
    print(item)

0
10
20
30
40
50
60
70
8
90
100

* print all elements in list

In [15]:
x = [0, 10, 20, 30, 40, 50, 60, 70, 8, 90, 100]
    
for item in range(len(x)):
    print(x[item])

0
10
20
30
40
50
60
70
8
90
100

* print element via index using range() and len()

In [4]:
x = [0, 10, 20, 30, 40, 50, 60, 70, 8, 90, 100]
    
for item in range(len(x)):
    print(x[4])

40
40
40
40
40
40
40
40
40
40
40

* print all element using while loop

In [12]:
x = [0, 10, 20, 30, 40, 50, 60, 70, 8, 90, 100]
i = 0
while i < len(x):
    print(x[i])
    i = i + 1

0
10
20
30
40
50
60
70
8
90
100

* for look in one-line

In [14]:
x = [0, 10, 20, 30, 40, 50, 60, 70, 8, 90, 100]
    
[print(item) for item in x]

0
10
20
30
40
50
60
70
8
90
100

[None, None, None, None, None, None, None, None, None, None, None]

### Tuple (data type) :
it is collection of all type of data type. it is imutable(unchangable), allowed to hold duplicate values and also indexed/ordered.

* empty tuple

In [17]:
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))
print(len(empty_tuple))

()
<class 'tuple'>
0

In [18]:
empty_tuple = tuple()
print(empty_tuple)
print(type(empty_tuple))
print(len(empty_tuple))

()
<class 'tuple'>
0

* tuple with single value

In [19]:
t = (3)   # wrong way
print(t)
print(type(t))

t = (2,)  # right way
print(t)
print(type(t))

3
<class 'int'>
(2,)
<class 'tuple'>

* some basic functions in tuple

In [ ]:
t = (0, 12, 2.5, 24, 50, 2, 2, 2)
print(t)
print(type(t))
print(type(t[2]))

* <b>count function : </b> it returns number of repetition of any specific value.<br>
<b>SYNTAX: </b> tuple_name.count(value)

In [26]:
t = (0, 12, 2.5, 24, 50, 2, 2, 2)
print(t)
print("count '2' : ", t.count(2))

(0, 12, 2.5, 24, 50, 2, 2, 2)
count '2' :  3

* <b>index function :</b> it returns index number of given value.<br>
<b>SYNTAX: </b> tuple_name.index(value)

In [27]:
t = (0, 12, 2.5, 24, 50, 2, 2, 2)
print(t)
print("index(50) : ", t.index(50))   # return index no by value index(value)

(0, 12, 2.5, 24, 50, 2, 2, 2)
index(50) :  4

* how to update any item in tuple?

steps to update tuples...<br>
1. first, convert tuple into list
2. update item of list
3. convert list into tuple in the end

In [30]:
# given tuple
x = ('apple','banana','cherry')
print(x)
print(type(x))

# convert tuple into list and update item
y = list(x)  
y[1] = 'kiwi'

print(y)
print(type(y))

# convert list into tuple
x = tuple(y)
print(x)
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>
['apple', 'kiwi', 'cherry']
<class 'list'>
('apple', 'kiwi', 'cherry')
<class 'tuple'>

<b>NOTE:</b> by this way we can perform all operation on tuples.

* <b>loop with tuple:</b>

* for loop in tuple

In [31]:
a = (1,3,5,6,7,8)
for i in a:
    print(i)

1
3
5
6
7
8

* for loop with len() in tuple

In [33]:
a = (1,3,5,6,7,8)
for i in range(len(a)):
    print(a[i])

1
3
5
6
7
8

* while loop in tuple

In [32]:
ab = (1,3,4,5,6)
i = 0
while i < len(ab):
    print(ab[i])
    i = i + 1

1
3
4
5
6

<b>math with tuple:</b>

* Join two tuples

In [23]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)
tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

* Multiply the tuple by any number

In [20]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2
print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

### Using Asterisk*
If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list.

In [1]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

<b>NOTE: </b> Assign the rest of the values as a list in variable who hold asteric sign named "red"

<b>Quiz:</b> some questions about list and tuples.

<b>Quiz: </b> create a list with user define name of 5 fruits.

In [ ]:
f1 = input("enter fruit no 1 : ")
f2 = input("enter fruit no 2 : ")
f3 = input("enter fruit no 3 : ")
f4 = input("enter fruit no 4 : ")
f5 = input("enter fruit no 5 : ")

l =[f1, f2, f3, f4, f5]

print("list of give fruits are : ", l)
print(type(l))
print(len(l))

<b>Quiz:</b> create a collection of marks of 5 subject in increment order.

In [ ]:
m1  = int(input("enter marks of student no. 1 : "))
m2  = int(input("enter marks of student no. 2 : "))
m3  = int(input("enter marks of student no. 3 : "))
m4  = int(input("enter marks of student no. 4 : "))
m5  = int(input("enter marks of student no. 5 : "))

l = [m1, m2, m3, m4, m5]
l.sort()
print("marks of students are in sorted form : ", l)

<b>Quiz:</b> prove that tuple is immutable?

<pre><b>Explanation:</b> tuple is immutable.
<Blockquote>   
t = (1, 23, 45, 78, 0)
t[1] = 20
print(t)
</Blockquote>
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
~\AppData\Local\Temp\ipykernel_24548\2602675683.py in <module>
      1 # prove that tuple is immutable?
      2 t = (1, 23, 45, 78, 0)
----> 3 t[1] = 20
      4 print(t)

TypeError: 'tuple' object does not support item assignment</pre>

<b>QUIZ:</b> WAP to calculate sum of all element in given list.<br>mylist = [12, 23, 34, 45]

* way 1 : sum of element of list without using loop

In [1]:
mylist = [12, 23, 34, 45]

sum = mylist[0] + mylist[1] + mylist[2] + mylist[3]
print("sum : ",sum)

sum :  114

*way 2 : sum of element of list without using loop

In [4]:
mylist = [12, 23, 34, 45]

sum = 0
for x in range(0, len(mylist)):
    sum = sum + mylist[x]
print("sum = ",sum)

sum =  114

<b>QUIZ:</b> WAP to count zeroes in given tuple.

In [7]:
t  = ( 0, 21, 1, 0, 4, 6, 23, 0, 0 )
print("total no of zeroes : ",t.count(0))

total no of zeroes :  4

<b>QUIZ: </b> Using the tuple() method to make a tuple.

* note the double round-brackets

In [8]:
thistuple = tuple(("apple", "banana", "cherry"))
print(thistuple)

('apple', 'banana', 'cherry')

<pre><b>ERROR:</b>if you just use tuple() because tuple() with single paranthesis take only one args.

thistuple = tuple("apple", "banana", "cherry")
print(thistuple)

-------------------------------------------------------------------
TypeError                        Traceback (most recent call last)
Cell In[9], line 1
----> 1 thistuple = tuple("apple", "banana", "cherry")
      2 print(thistuple)

TypeError: tuple expected at most 1 argument, got 3

<b>QUIZ: </b> WAP to find out that given item is exist in tuple or not.

In [10]:
t = (1,2,3,4,56)
print(t)
x = int() 

if x in t:
    print("true")
else:
    print("false")

true

### Dictionary (data type) :
its collection of 'key-value' pairs. it is indexed, unordered, mutable(changable), and hold non-duplicate keys. if two keys would be same than key will hold new updated value and if values are same it doesn't matter.

* empty dictionary

In [2]:
empty_dict = {}
print(empty_dict)
print(type(empty_dict))

{}
<class 'dict'>

In [3]:
empty_dict = dict()
print(empty_dict)
print(type(empty_dict))

{}
<class 'dict'>

* simple dictionary

In [4]:
d = {'a': 1,'b': 2,'c':3,}
print(d)
print(type(d))

{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>

In [5]:
d2 = dict(x = 1, y = True, z = 'raj')
print(d2)
print(type(d2))

{'x': 1, 'y': True, 'z': 'raj'}
<class 'dict'>

* Let's see a complex dictionary

In [6]:
myDict = {
    "red"  : 'one type of color',
    "fast" : 'in a quick manner',
    "harry": 'a programmer',
    "l"    : [1, 2, 3, 4, 5],
    "t"    : (10, 20, 30, 40, 50),
    "D"    : {
        "nu": [11, 12, 13, 14],
        "tu": (110, 120, 130, 140),
        "di": {
            "x" : [7, 8, 9],
            "y" : (77, 88, 99),
            "d2":{"m": [9, 99, 999],
                  "n": [8, 88, 888],
                  "o":(5,55,555),
                 }
              }
    },
  }

# print dictionary
print("Dictionary is : ",myDict)

# type of element N dictionary
print("type of Dictionary is : ",type(myDict))
print("type of 'o' is : ",type(myDict['D']['di']['d2']['o']))


# print elements
print("value of 'red' is : ",myDict['red'])
print("value of 'fast' is : ",myDict['fast'])
print("value of 'harry' is : ",myDict['harry'])
print("value of 'l' is : ",myDict['l'])
print("value of 't' is : ",myDict['t'])
print("value of 'D' is : ",myDict['D'])

# print inner elements
print("value of 'nu' is : ",myDict['D']['nu'])
print("value of 'di' is : ",myDict['D']['di'])

# print inner value
print("value of 'x' is : ",myDict['D']['di']['x'])
print("value of 'd2' is : ",myDict['D']['di']['d2'])
print("value of 'o' is : ",myDict['D']['di']['d2']['o'])

print("keys : ",myDict.keys())
print("type of values : ",type(myDict.values()))
print("values : ",myDict.values())
print("type of keys : ",type(myDict.keys()))

# item() if you want to see key-value pair
print("item : ",myDict.items())

# convert key to list of keys:
print("keys : ",list(myDict.keys()))

# add value
myDict['marks'] = ['a','b','c']
myDict['D']['di']['hero'] = 'save the life'
print(myDict.items())

Dictionary is :  {'red': 'one type of color', 'fast': 'in a quick manner', 'harry': 'a programmer', 'l': [1, 2, 3, 4, 5], 't': (10, 20, 30, 40, 50), 'D': {'nu': [11, 12, 13, 14], 'tu': (110, 120, 130, 140), 'di': {'x': [7, 8, 9], 'y': (77, 88, 99), 'd2': {'m': [9, 99, 999], 'n': [8, 88, 888], 'o': (5, 55, 555)}}}}
type of Dictionary is :  <class 'dict'>
type of 'o' is :  <class 'tuple'>
value of 'red' is :  one type of color
value of 'fast' is :  in a quick manner
value of 'harry' is :  a programmer
value of 'l' is :  [1, 2, 3, 4, 5]
value of 't' is :  (10, 20, 30, 40, 50)
value of 'D' is :  {'nu': [11, 12, 13, 14], 'tu': (110, 120, 130, 140), 'di': {'x': [7, 8, 9], 'y': (77, 88, 99), 'd2': {'m': [9, 99, 999], 'n': [8, 88, 888], 'o': (5, 55, 555)}}}
value of 'nu' is :  [11, 12, 13, 14]
value of 'di' is :  {'x': [7, 8, 9], 'y': (77, 88, 99), 'd2': {'m': [9, 99, 999], 'n': [8, 88, 888], 'o': (5, 55, 555)}}
value of 'x' is :  [7, 8, 9]
value of 'd2' is :  {'m': [9, 99, 999], 'n': [8, 88, 888], 'o': (5, 55, 555)}
value of 'o' is :  (5, 55, 555)
keys :  dict_keys(['red', 'fast', 'harry', 'l', 't', 'D'])
type of values :  <class 'dict_values'>
values :  dict_values(['one type of color', 'in a quick manner', 'a programmer', [1, 2, 3, 4, 5], (10, 20, 30, 40, 50), {'nu': [11, 12, 13, 14], 'tu': (110, 120, 130, 140), 'di': {'x': [7, 8, 9], 'y': (77, 88, 99), 'd2': {'m': [9, 99, 999], 'n': [8, 88, 888], 'o': (5, 55, 555)}}}])
type of keys :  <class 'dict_keys'>
item :  dict_items([('red', 'one type of color'), ('fast', 'in a quick manner'), ('harry', 'a programmer'), ('l', [1, 2, 3, 4, 5]), ('t', (10, 20, 30, 40, 50)), ('D', {'nu': [11, 12, 13, 14], 'tu': (110, 120, 130, 140), 'di': {'x': [7, 8, 9], 'y': (77, 88, 99), 'd2': {'m': [9, 99, 999], 'n': [8, 88, 888], 'o': (5, 55, 555)}}})])
keys :  ['red', 'fast', 'harry', 'l', 't', 'D']
dict_items([('red', 'one type of color'), ('fast', 'in a quick manner'), ('harry', 'a programmer'), ('l', [1, 2, 3, 4, 5]), ('t', (10, 20, 30, 40, 50)), ('D', {'nu': [11, 12, 13, 14], 'tu': (110, 120, 130, 140), 'di': {'x': [7, 8, 9], 'y': (77, 88, 99), 'd2': {'m': [9, 99, 999], 'n': [8, 88, 888], 'o': (5, 55, 555)}, 'hero': 'save the life'}}), ('marks', ['a', 'b', 'c'])])

In [7]:
newDict = {
    'a': 'this is a',
    'b': 'this is b',
    'c': 'this is c',
}
print(newDict)
print(newDict.items())
print(newDict.keys())
print(newDict.values())

newDict['d'] = 'this is d'
print('after update : ',newDict)

print(newDict['d'])
print(newDict.get('d'))

{'a': 'this is a', 'b': 'this is b', 'c': 'this is c'}
dict_items([('a', 'this is a'), ('b', 'this is b'), ('c', 'this is c')])
dict_keys(['a', 'b', 'c'])
dict_values(['this is a', 'this is b', 'this is c'])
after update :  {'a': 'this is a', 'b': 'this is b', 'c': 'this is c', 'd': 'this is d'}
this is d
this is d

<b>Quiz: </b> Difference between " get() " and traditional "[ ]" method.

<pre><b>difference:</b> we use get mathod in the place of using [] mathod b'coz if that pair would not exist in our dictionary than get() will return 'none' but [] will throw error
<Blockquote>
newDict = {
    'a': 'this is a',
    'b': 'this is b',
    'c': 'this is c',
}
    
# when u put right key
print(newDict.get("c"))
print(newDict["c"])

# when u put wrong key
print(newDict.get("d")) #output : None
print(newDict["d"]) #output : error(keyError)

</Blockquote>
<b>Output:</b>
this is c
this is c
None
---------------------------------------------------------------------------
<b>KeyError</b>                Traceback (most recent call last)
Cell <b>In[1], line 13</b>
     11 # when u put wrong key
     12 print(newDict.get("d")) #output : None
---> <b>13</b> print(newDict["d"])

<b>KeyError:</b> 'd'</pre>

* dictionary with if

In [7]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

* chane the value in dictionary using "[ ]" traditional method

In [9]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(thisdict)
# Change the value:
thisdict["year"] = 2018
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

* chane the value in dictionary using "update()" method

In [10]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(thisdict)
# update dictionary
thisdict.update({'year':2020})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

* chane the value in dictionary using "[ ]" traditional method

In [11]:
# Change the value:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(thisdict)
# add pair
thisdict['engin'] = '900CC'
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'engin': '900CC'}

* chane the value in dictionary using "update()" method

In [12]:
# Change the value:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(thisdict)
# add pair
thisdict.update({'color': 'blue'})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'blue'}

<b>Quiz: </b> Difference between " update() " and traditional "[ ]" method.

<b>Ans.</b> The main difference between the update() method and the traditional method of adding key-value pairs to a dictionary in Python is that the update() method merges two dictionaries into one, while the traditional method overwrites the existing dictionary with the new key-value pairs. Using update method we can add new pair but with traditional method we can't.

In [18]:
d1 = {1: 'a', 2: 'b'}
d2 = {3: 'c', 4: 'd'}

print("d1 = ",d1)
print("d2 = ",d2)

d1.update(d2)
print("after update via d1.update(d2) : ")

print("d1 = ",d1)
print("d2 = ",d2)

d1 =  {1: 'a', 2: 'b'}
d2 =  {3: 'c', 4: 'd'}
after update via d1.update(d2) :
d1 =  {1: 'a', 2: 'b', 3: 'c', 4: 'd'}
d2 =  {3: 'c', 4: 'd'}

In [20]:
d1 = {1: 'a', 2: 'b'}
d2 = {3: 'c', 4: 'd'}

print("d1 = ",d1)
print("d2 = ",d2)
d2.update(d1)
print("after update via d2.update(d1) : ")

print("d1 = ",d1)
print("d2 = ",d2)

d1 =  {1: 'a', 2: 'b'}
d2 =  {3: 'c', 4: 'd'}
after update via d2.update(d1) :
d1 =  {1: 'a', 2: 'b'}
d2 =  {3: 'c', 4: 'd', 1: 'a', 2: 'b'}

* update method can also update more than one pairs with creating dict objects

In [24]:
d1 = {1: 'a', 2: 'b'}

print("d1 = ",d1)
d1.update([('a', 1), ('b', 2)])
print("d1 = ",d1)

d1 =  {1: 'a', 2: 'b'}
d1 =  {1: 'a', 2: 'b', 'a': 1, 'b': 2}

In [22]:
d1 = {1: 'a', 2: 'b'}
d2 = {3: 'c', 4: 'd'}

print("d1 = ",d1)
print("d2 = ",d2)

d1[1] = 'x'
d2[3] = 'p'

print("after change value:")

print("d1 = ",d1)
print("d2 = ",d2)

d1 =  {1: 'a', 2: 'b'}
d2 =  {3: 'c', 4: 'd'}
after change value:
d1 =  {1: 'x', 2: 'b'}
d2 =  {3: 'p', 4: 'd'}

* delete pair in dictionary

In [15]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  'engin': '900CC'
}

print(thisdict)
# delete pair
del thisdict['engin']
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'engin': '900CC'}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

* <b>loops in dictionary</b>

* print all key names

In [4]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
 }

# print all key names
for x in thisdict:
    print(x)

brand
model
year

* print all keys

In [5]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
 }
    
# print all keys
for x in thisdict.keys():
    print(x)

brand
model
year

* print all values

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
 }

# print all values
for x in thisdict:
    print(thisdict[x])

* print all values

In [6]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
 }
    
# print all values
for x in thisdict.values():
    print(x)

Ford
Mustang
1964

* print pairs of dict

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
 }
   
# print pairs of dict
for x,y in thisdict.items():
    print(x,y)

* print pairs of dict in better way

In [7]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
 }

# print pairs of dict in better way
for x,y in thisdict.items():
    print(x," : ",y)

brand  :  Ford
model  :  Mustang
year  :  1964

* <b>copy the dictionary from one to another object</b>

* using tradional method

In [9]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
 }

# make a copy of dict using dict()
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

* using copy method

In [8]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
 }

# make a copy of dict using co[y]
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

* nexted dictionary

In [10]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

print(myfamily["child2"]["name"])

Tobias

<b>NOTE : </b> Python has a set of built-in methods that you can use on dictionaries.

<table>
<tbody>
    <tr>
        <th>Method</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>clear()</td>
        <td>Removes all the elements from the dictionary</td>
    </tr>
    <tr>
        <td>copy()</td>
        <td>Returns a copy of the dictionary</td>
    </tr>
    <tr>
        <td>fromkeys()</td>
        <td>Returns a dictionary with the specified keys and value</td>
    </tr>
    <tr>
        <td>get()</td>
        <td>Returns the value of the specified key</td>
    </tr>
    <tr>
        <td>items()</td>
        <td>Returns a list containing a tuple for each key value pair</td>
    </tr>
    <tr>
        <td>keys()</td>
        <td>Returns a list containing the dictionary's keys</td>
    </tr>
    <tr>
        <td>pop()
        </td><td>Removes the element with the specified key</td>
    </tr>
    <tr>
        <td>popitem()</td>
        <td>Removes the last inserted key-value pair</td>
    </tr>
    <tr>
        <td>setdefault()</td>
        <td> Returns the value of the specified key. If the key does not exist insert the key, with the specified value</td>
    </tr>
    <tr>
        <td>update()</td>
        <td>Updates the dictionary with the specified key-value pairs</td>
    </tr>
    <tr>
        <td>values()</td>
        <td>Returns a list of all the values in the dictionary</td>
    </tr>
</tbody>
</table>

### Set (data type) : 
it is non-pair, immutable/non-changable, non.indexed, unordered and not hold duplicate values. you can't change value but u can add or delete values.

* empty set

In [11]:
g = set()
print(g)
print(type(g))

set()
<class 'set'>

* add elements in empty set

In [12]:
g = set()
print(g)

g.add(10)
g.add(20)
g.add(30)
print(g)

set()
{10, 20, 30}

In [13]:
s = {10, 20, 30}
print("s : ",s)
print(type(s))
s.add(40)
print("s : ",s)
print(len(s))

s :  {10, 20, 30}
<class 'set'>
s :  {40, 10, 20, 30}
4

<pre>
<b>NOTE :</b> you can't add mutable item in set data type.
<Blockquote>
a = {11, 21, 31, 42, 51, True, 12.5, 3+9j}
print(a)
a.add(['a','b'])
print(a)

<b>Output:</b>
{True, 42, 11, 12.5, 51, 21, (3+9j), 31}
----------------------------------------------------------------
<b>TypeError</b>               Traceback (most recent call last)
Cell In[15], line 3
      1 a = {11, 21, 31, 42, 51, True, 12.5, 3+9j}
      2 print(a)
----> <b>3</b> a.add(['a','b'])
      4 print(a)

<b>TypeError: </b> unhashable type: 'list'
</Blockquote>
</pre>

* delete elements using remove method

In [ ]:
a = {11, 21, 31, 42, 51, True, 12.5, 3+9j}
print(a)
a.remove(21)   
print("remove 21 :",a)
a.pop()  # remove random item
print(a)

* delete elements using pop method

In [16]:
a = {11, 21, 31, 42, 51, True, 12.5, 3+9j}
print(a)
a.pop()  # remove random item
print(a)

{True, 42, 11, 12.5, 51, 21, (3+9j), 31}
{42, 11, 12.5, 51, 21, (3+9j), 31}

In [17]:
b = set()
b.add(10)
b.add(20)
b.add(30)
b.add(35)
print(b)
print(type(b))

{10, 35, 20, 30}
<class 'set'>

* <b>set in basic math</b>

<b>1. union : </b>

In [20]:
# union
s1 = {1, 2, 3, 4, 5, 7, 9, 11}
s2 = {1, 2, 4, 6, 8, 10, 3, 5}

x = s1.union(s2)

print('s1 = ',s1)
print('s2 = ',s2)

print("union of 's1' and 's2' is :",x)

s1 =  {1, 2, 3, 4, 5, 7, 9, 11}
s2 =  {1, 2, 3, 4, 5, 6, 8, 10}
union of 's1' and 's2' is : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

<b>2. intersectoin : </b>

In [19]:
# intersection
s1 = {1, 2, 3, 4, 5, 7, 9, 11}
s2 = {1, 2, 4, 6, 8, 10, 3, 5}

y = s1.intersection(s2)

print('s1 = ',s1)
print('s2 = ',s2)

print("intersection of 's1' and 's2' is :",y)

s1 =  {1, 2, 3, 4, 5, 7, 9, 11}
s2 =  {1, 2, 3, 4, 5, 6, 8, 10}
intersection of 's1' and 's2' is : {1, 2, 3, 4, 5}

<b>3. symmetric_difference_update :</b>

In [21]:
# union and intersection
s1 = {1, 2, 3, 4, 5, 7, 9, 11}
s2 = {1, 2, 4, 6, 8, 10, 3, 5}

z = s1.symmetric_difference_update(s2)

print('s1 = ',s1)
print('s2 = ',s2)

print("all element who are not in both set s1 and s2 : ",z)

s1 =  {6, 7, 8, 9, 10, 11}
s2 =  {1, 2, 3, 4, 5, 6, 8, 10}
all element who are not in both set s1 and s2 :  None

* print more than one set in single time

In [22]:
s1 = set()
s2 = {'a', True, 2.5, 12}
s3 = set(('char', False, 12.65, 13))
print(s1,s2,s3)

set() {True, 2.5, 'a', 12} {False, 13, 'char', 12.65}

* <b>set with loops</b>

* for in sets

In [3]:
myset = {'raj', 'mohan', 'sita', 'gita'}
for x in myset:
    print(x)

gita
sita
raj
mohan

* check value present or not

In [4]:
print('raj' in myset)

True

* update function in set

In [5]:
a1 = {'a', 'b', 'c'}
a2 = {1, 2, 3}
a1.update(a2)
print(a1)
a2.update(a1)
print(a2)

{'c', 1, 'b', 2, 3, 'a'}
{1, 2, 3, 'c', 'b', 'a'}

* remove function

In [8]:
o = {'a', 12, 'd', 45, 's'}

print("set : ",o)
o.remove(12)
print('after removing 12 : ',o)

set :  {'d', 12, 45, 'a', 's'}
after removing 12 :  {'d', 45, 'a', 's'}

* discard function

In [9]:
o = {'a', 12, 'd', 45, 's'}

print("set : ",o)
o.discard('a')
print('after discarding "a" : ',o)

set :  {'d', 12, 45, 'a', 's'}
after discarding "a" :  {'d', 12, 45, 's'}

* delete function

<b>del method in set : </b> The <b>del</b> keyword in Python can be used to delete an object. In Python, everything is an object, so the del keyword can also be used to delete variables, lists, or parts of a list, etc.

One way to use the del keyword is to delete an element from a set. To do this, you can pass the element you want to delete to the del keyword. For example, the following code will delete the element 1 from the set my_set:

In [3]:
x = {1, 3, 5, 7, 9}
print(x)
del x

{1, 3, 5, 7, 9}

<pre><b>NOTE: </b> after deleting the set.<br>
<Blockquote>
x = {1, 3, 5, 7, 9}
print(x)
del x
print(x)

-----------------------------------------------------------------
<b>NameError</b>                Traceback (most recent call last)
Cell <b>In[11], line 4</b>
      2 print(x)
      3 del x
----> <b>4</b> print(x)

<b>NameError</b>: name 'x' is not defined</Blockquote></pre>

<b>Quiz : </b> Difference between discard and remove function?

<b>Ans.: </b>There are two methods to remove an item from a set in Python:<br>
<b>discard() method: </b>The discard() method removes the specified item from the set if it is present. It does not raise an error if the item is not present in the set.<br>
<b>remove() method: </b> The remove() method removes the specified item from the set if it is present. It raises an error if the item is not present in the set.t?

Let's see is by code

<pre>
<b>code with discard():</b>
<Blockquote>
my_set = {1, 2, 3, 4, 5}
my_set.discard(6)
print(my_set)
</Blockquote>
<b>Output:</b>
{1, 2, 3, 4, 5}</pre>

<pre><b>code with remove:</b>
<Blockquote>
{1, 2, 3, 4, 5}
my_set.remove(6)
print(my_set)
</Blockquote>
<b>Output:</b>
--------------------------------------------------------------
<b>KeyError</b>              Traceback (most recent call last)
Cell <b>In[2], line 2</b>
      1 {1, 2, 3, 4, 5}
----> <b>2</b> my_set.remove(6)
      3 print(my_set)

<b>KeyError</b>: 6   </pre>

<b>NOTE:</b>As you can see, the discard() method did not raise an error when the item 6 was not present in the set, while the remove() method did.

Which method you should use depends on your needs. If you are sure that the item you want to remove is present in the set, then you can use the remove() method. However, if you are not sure, then you should use the discard() method to avoid raising an error.
How do you delete items from a se</pre>t?

<b>NOTE : </b>Python has a set of built-in methods that you can use on sets.<br>

<table>
<tbody>
    <tr>
        <th>Method</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>add()</td>
        <td>Adds an element to the set</td>
    </tr>
    <tr>
        <td>clear()</td>
        <td>Removes all the elements from the set</td>
    </tr>
    <tr>
        <td>copy()</td>
        <td>Returns a copy of the set</td>
    </tr>
    <tr>
        <td>difference()</td>
        <td>Returns a set containing the difference between two or more sets</td>
    </tr>
    <tr>
        <td>difference_update()</td>
        <td>Removes the items in this set that are also included in another, specified set</td>
    </tr>
    <tr>
        <td>discard()</td>
        <td>Remove the specified item</td>
    </tr>
    <tr>
        <td>intersection()</td>
        <td>Returns a set, that is the intersection of two other sets</td>
    </tr>
    <tr>
        <td>intersection_update()</td>
        <td>Removes the items in this set that are not present in other, specified set(s)</td>
    </tr>
    <tr>
        <td>isdisjoint()</td>
        <td>Returns whether two sets have a intersection or not</td>
    </tr>
    <tr>
        <td>issubset()</td>
        <td>Returns whether another set contains this set or not</td>
    </tr>
    <tr>
        <td>issuperset()</td>
        <td>Returns whether this set contains another set or not</td>
    </tr>
    <tr>
        <td>pop()</td>
        <td>Removes an element from the set</td>
    </tr>
    <tr>
        <td>remove()</td>
        <td>Removes the specified element</td>
    </tr>
    <tr><td>symmetric_difference()</td>
        <td>Returns a set with the symmetric differences of two sets</td>
    </tr>
    <tr><td>symmetric_difference_update()</td>
        <td>inserts the symmetric differences from this set and another</td>
    </tr>
    <tr><td>union()</td>
        <td>Return a set containing the union of sets</td>
    </tr>
    <tr><td>update()</td>
        <td>Update the set with the union of this set and others</td>
    </tr>
</tbody>
</table>

<b>Ques.: </b> create empty dict and allow your 4 friend to enter their fav_lang and use keys as their names, assume name will be unique

In [1]:
f1 = input('enter favorite language of geeta : ')
f2 = input('enter favorite language of meeta : ')
f3 = input('enter favorite language of seeta : ')
f4 = input('enter favorite language of neeta : ')
dict = {}
dict['geeta'] = f1
dict['meeta'] = f2
dict['seeta'] = f3
dict['neeta'] = f4
print(dict.items())

enter favorite language of geeta :  eng
enter favorite language of meeta :  hin
enter favorite language of seeta :  guj
enter favorite language of neeta :  marathi

dict_items([('geeta', 'eng'), ('meeta', 'hin'), ('seeta', 'guj'), ('neeta', 'marathi')])

<b>Ques.: </b> can you change the value inside a list which is contained in sets<br> 
s = {8, 7, 12, [1, 2]}

<b>Ans.: </b> no, coz set is immutable so list can never containned in set and
another thing if it'll be tuple than you can't change coz it's non-changable means hashable

### Indentation:
the spaces at the beginning of a code line. Where in other programming languages the indentation in code is for readability only, 
the indentation in Python is very important. Python uses indentation to 
indicate a block of code.<b>it is white space before statements to make them a single unit or block</b>
<pre>
    <b>example:</b>
<Blockquote>a = 22
if a > 9 :
    print("greater")
else:
    print("lesser")</Blockquote></pre>

### pass statement:
if statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error.

<b>pass</b>: it means null statement(stands for do nothing with previous statement)

In [2]:
a = 33
b = 200

if b > a:
    pass

In [1]:
i = 4
if i > 3 :
    pass
while i > 6 :
    pass
def run(player):
    pass
print("that's it...")

that's it...

* we can use pass statement to skip writing control statement or code inside of function to complete it later

In [3]:
def dummy(drug):
    pass

dummy('a')
print("usefull to create empty function using 'pass' statement ")

usefull to create empty function using 'pass' statement

# Control statements:
            it works like a ladder when 1st condition will go true it'll go for execute the code under it rather than go for next condition or code.

it's work ladder if 1st will true than it'll never go for next. if, elif and else also optional and work anywhere if-elif-else ladder.

python support usual conditions from math:
    
* Equals: a == b
* Not Equals: a != b
* Less than: a < b
* Less than or equal to: a <= b
* Greater than: a > b
* Greater than or equal to: a >= b

<b>Type of control statement in python:</b><br>

1. if
2. nested if
3. elif
4. if-else
5. if-elif-else

<b> 1. if : </b>it works only and only when if condition will be true than next statement will execute.

<b>SYNTAX :</b>
<pre>if(condition):
        code/statements</pre>

* execute only print() and only condition will true

In [3]:
a = 33
b = 200
if b > a :
    print("b is greater than a")

b is greater than a

* execute but no output when condition isn't true

In [ ]:
a = 33
b = 200
if b < a :
    print("b is greater than a")

* <b>one life with if:</b>

In [1]:
a, b = 15, 12
if a > b : print("a is greater than b")

a is greater than b

<b>2. Nested if : </b> we can use multiple if inside each other with condition and also inside itself as per our need. innner if only work if outer if executes.

<b>SYNTAX :</b>
<pre>if(condition):
        code/statements
        if(condition):
                code/statements
            ...........
</pre>

In [5]:
age = 19

if age >= 18:
    print("you are eligible to vote")
    if age >= 21:
        print("you can drive a car")

you are eligible to vote

In [6]:
age = 26

if age >= 18:
    print("you are eligible to vote")
    if age >= 21:
        print("you can drive a car")

you are eligible to vote
you can drive a car

In [7]:
age = 15

if age >= 18:
    print("you are eligible to vote")
    if age >= 21:
        print("you can drive a car")

In [3]:
age = int(input("enter age :"))

if age >= 18:
    print("you are eligible to vote")
    if age >= 21:
        print("you can drive a car")

enter age : 78

you are eligible to vote
you can drive a car

<b>3. elif : </b> It works when previous conditions were not true, then try this condition.

<b>SYNTAX :</b>
<pre>
if(condition):
        code/statements
elif(condition):
         code/statements
            ...........
</pre>

In [8]:
a = 33
b = 33

if a > b :
    print("a is greater than b...")
elif a == b :
    print("a and b other are equals")

a and b other are equals

In [9]:
a = 33
b = 32

if a > b :
    print("a is greater than b...")
elif a == b :
    print("a and b other are equals")

a is greater than b...

In [11]:
a = 12

if(a==7):
  print("yes")
elif(a>56):
  print("yes or no") #no output

<b>4. else : </b>it works whenever another all conditions will be false. it can work with all statements.

<b>SYNTAX :</b>
<pre>
loop/control statement(condition):
    code/statements
...........
else:
    code/statemrnts
</pre>

In [13]:
a = 22
if a > 9 :
    print("greater")
else:
    print("lesser")

greater

In [14]:
a = 2
if a > 9 :
    print("greater")
else:
    print("lesser")

lesser

In [15]:
age = int(input("enter age: "))
if age >= 18 :
    print("yes")
else:
    print("no")

enter age:  15

no

* u can work if your age is : age greater than 33 and also age less than 55

In [16]:
age = int(input("enter age: "))
if(age>33 and age<55):
    print("you're ",age,",you can work....")
else:
    print("you're ",age,",you can't work...")

enter age:  35

you're  35 ,you can work....

* <b>one line with if-else:</b>

In [2]:
a = 2
b = 330
print("a is greater than b") if a > b else print("b is greater than a")

b is greater than a

* <b>nested if-else :</b>

In [12]:
x = 40

if x > 10 :
    print("x is above 10 ")
    if x > 20 :
        print("and also above 20")
    else:
        print("and not above 20")
else:
    print("less then 10")

x is above 10
and also above 20

<b>5. if-elif-else : </b> it work like ladder of conditions you can use all keywords togather in code also anywhere else in code where you need to execute statements with conditions.

In [19]:
a = 200
b = 33
if b > a :
    print("b is greater than a")
elif a == b:
    print("b and a both are equals")
else:
    print("b is lesser than a")

b is lesser than a

* <b>one line with ternary operator or conditional expressions:</b>

In [12]:
a = 330
b = 330
print("A") if a > b else print("=") if b == a else print("B")

=

* 'and' in if statements:

In [3]:
a = 200
b = 33
c = 500
if a > b and c > a : 
    print("bothe conditions are true...")
else:
    print("both conditions are not true...")

bothe conditions are true...

* 'or' in if statements:

In [4]:
a = 200
b = 33
c = 500
if a > b or c < a : 
    print("anyone of them, condition should be true...")
else:
    print("both conditions are not true...")

anyone of them, condition should be true...

* 'not' in if statement:

In [5]:
a = 10
b = 5
if not a < b : 
    print("b is not greater than a")
else:
    print("it is  true b is greater than a")

b is not greater than a

* 'is' if statement:

In [ ]:
a = None
if a is None:
    print(True)
elif a < 0 or a > 0 :
    print(False)
else:
    print("a is zero")

* 'in' if statement:

In [7]:
a = [1, 3, 5, 7, 9]
x = 7

if x in a:
    print(True)
else:
    print(False)

True

* a complex example

In [ ]:
a = 12
if(a==7):
    print("yes")
elif(a>56):
    print("yes or no")
else:
    print("i'm optional")

<b>Quiz: </b> a spam comment is defined as a text containing keywords [make a lot of money, buy now,suscribe this,click this,] WAP to detect it.

In [8]:
print("make a lot of money,buy now,suscribe this,click this")
comment = input("to check your comment spam or not\nenter your comment :\n")
if("make a lot of money" in comment or "buy now" in comment or
"suscribe this" in comment or "click this" in comment):
   print("your comment is spam..")
else:
   print("your comment is not spam..")

make a lot of money,buy now,suscribe this,click this

to check your comment spam or not
enter your comment :
 click this

your comment is spam..

* in other way

In [10]:
keywords = ["make a lot of money,buy now", "suscribe this", "click this"]
print("keywords = ",keywords)

comment = input("to check your comment spam or not\nenter your comment :\n")



if comment in keywords :
   print("your comment is spam..")
else:
   print("your comment is not spam..")

keywords =  ['make a lot of money,buy now', 'suscribe this', 'click this']

to check your comment spam or not
enter your comment :
 aaaa

your comment is not spam..

<b>Quiz : </b> WAP given username hold 10char or not

In [13]:
username = input("enter your username : ")
total_char = len(username)

if total_char >= 10 :
    print("valid username")
else:
    print("invalid username")

enter your username :  asdegdfgfhejg

valid username

* in other way

In [12]:
username = input("enter your username : ")

if len(username) >= 10 :
    print("valid username")
else:
    print("invalid username")

enter your username :  gsdfgsdfghsfrthsfgh

valid username

<b>Quiz: </b> WAP to check ,whether name in list or not. <br>
["raj","mohan","sohan","sita","gita"]

In [14]:
names = ["raj","mohan","sohan","sita","gita"]
name = input("enter name to check wether name is in list or not : ")

if name in names:
    print("name is exist in list...")
else:
    print("name isn't exist in list...")

enter name to check wether name is in list or not :  raj

name is exist in list...

<b>Quiz : </b> wap to findout any string/name is exixt in post or not.

In [ ]:
post = input("enter post : ")
name = input("enter name to search : ")
if name in post:
    print("name is exist in list...")
else:
    print("name isn't exist in list...")

# LOOP : 
Looping means repeating something over and over until a particular condition is satisfied. It is <b>repeatation of block of statement</b>.

Python has two primitive loop commands:
* while loops
* for loops

<b>1. While : </b> With the while loop we can execute a set of statements as long as a condition is true.

<b>SYNTAX :</b>
<pre>
code...........
    
While(condition):
    code/statements
    ...........
    ...........
    
code...........
</pre>

<pre><b>NOTE:</b> don't write infinite loop
<b>Example : </b>
<Blockquote>i = 0
while i < 10 :
    print("yes.....")</Blockquote>

<b>Output:</b> it'll print unlimited time <b>yes.....</b>
</pre>

* print yes 10 time

In [1]:
i = 1
while i < 11 :
    print("yes ",i)
    i = i + 1
print("Done...!")

yes  1
yes  2
yes  3
yes  4
yes  5
yes  6
yes  7
yes  8
yes  9
yes  10
Done...!

* print number series from 1 - 1

In [5]:
print("numbers from 1 to 15 : ")

i = 1
while i <= 15 :
    print(i)
    i += 1
    
print("that's it")

numbers from 1 to 15 :
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
that's it

In [6]:
print("numbers from 1 to 15 : ")

i = 1
while i < 16 :
    print(i)
    i += 1
    
print("that's it")

numbers from 1 to 15 :
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
that's it

* print string multiple times

In [7]:
i = 1
while i < 6 :
    print(i, ". I'm rajendra")
    i = i + 1

1 . I'm rajendra
2 . I'm rajendra
3 . I'm rajendra
4 . I'm rajendra
5 . I'm rajendra

* print element from collection / list

In [9]:
fruit = ['apple', 'banana', 'papaya', 'graps', 'mango', 'cherry']

i = 0
while i < len(fruit) :
    print(fruit[i])
    i = i + 1

apple
banana
papaya
graps
mango
cherry

<b>Extra : </b> while with break, continue and pass.

<b>break : </b> when break condition is true in loop then after successful executing break statement loop stop printing values.

In [22]:
i = 1
while i < 9 :
    print(i)
    if i == 5 :
        break
    i = i + 1

1
2
3
4
5

<b>continue: </b> when condition for continue is true than that value skipped and againg loop will start the printing values.

In [23]:
i = 0
while i < 6 :
    i += 1
    if i == 3 :
        continue
    print(i)

1
2
4
5
6

<pre><b>pass: </b> it means null statement(stands for do nothing with previous statement) <b>but it is rare</b>
<Blockquote>i = 1
while i < 6 :
    pass
    print(i)</Blockquote>
</pre>

### <b>"else"</b> works everywhere same as else work with if control statements.

<b>else :</b> when loop condition is false then else condition execute.

In [1]:
i = int(input("enter any number : "))
while i < 6 :
    print(i)
    i += 1
else:
    print(" i is greater than 6")

enter any number :  8

 i is greater than 6

<b>2. For loop : </b> For used to iterate through a sequesnce data types like list, tuple, string or iterables
with operators (is,in,range)

<b>SYNTAX :</b>
<pre>
code...........
.............
for iterator in/is dataframes(list,tuple,set):
    code/statements.....
    ...........
    ...........
    
code...........
</pre>

* print all elemets of sequence.

In [1]:
fruits = ['banana', 'mango', 'apple', 'watermalon', 'graps']
for items in fruits:
    print(items)

banana
mango
apple
watermalon
graps

* print all elements with each elements of another element of sequence.

In [2]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

* <b>for with range:</b> range() function is used to generate sequence of number.

it's print until 'range' default starting values of range is 0 if there is single value and if there is 2 then first is starting index and end with (index-1).

* print range 0 to 7

In [3]:
for i in range(8):
    print(i)

0
1
2
3
4
5
6
7

* print number between range of 1 - 10

In [4]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

* range(1,10,2) = 1-10 with spacing 2

In [5]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

* <b> else in for : </b> else will execute when for loop will exit with condition.

In [6]:
for i in range(11):
    print(i)

else:   #when condition will be false
    print("this is inside of 'for'")

0
1
2
3
4
5
6
7
8
9
10
this is inside of 'for'

* <b>break with for loop :</b>

* if loop will execute with condition, then break will stop generating output
* else will execute when for loop will exit with condition
* not exit with break, else will run with suceess termination of for

In [7]:
for i in range(11):
    print(i)
    if i == 5 :
        break
else:
    print("this is inside of 'for'")      # 0 1 2 3 4 5

0
1
2
3
4
5

In [9]:
for i in range(8):
    print(i)
    if(i==5):
        break
else:
    print("this is inside of 'for'")  # 0 1 2 3 this is inside of 'for'

0
1
2
3
4
5

* <b>continue with for loop :</b> if condition will be true than continue statement skip generating that all input creating under the condition when it is true then start printing the ouput.

In [11]:
for i in range(11):
    if i == 5 or i == 7 :
        continue
    print(i)

0
1
2
3
4
6
8
9
10

* print multiplication table using loop.

<b> way 1 : </b>

In [16]:
num = int(input("enter number to print table : "))
i = 1
for i in range(1,11):
    print(i * num)

enter number to print table :  2

2
4
6
8
10
12
14
16
18
20

<b> way 2 : </b>

In [17]:
num = int(input("enter number to print table : "))
i = 1
for i in range(1,11):
    print(num, " X " ,i, " = ",i*num)

enter number to print table :  2

2  X  1  =  2
2  X  2  =  4
2  X  3  =  6
2  X  4  =  8
2  X  5  =  10
2  X  6  =  12
2  X  7  =  14
2  X  8  =  16
2  X  9  =  18
2  X  10  =  20

<b> way 3 : </b>

In [18]:
num = int(input("enter number to print table : "))
i = 1
for i in range(1,11):
    print(f"{num} X {i} = {i*num}")

enter number to print table :  2

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

<b>NOTE : </b> try to study str() and fstrings too  f"string_char {values,express,calculation}string_char {values,express,calculation}string_char {values,express,calculation}" via online sources or in string chapter.

<b>Quiz :</b> WAP to greet those all whose name start with 's'.

names = ['ram', 'mohan', 'sohan', 'sita', 'suresh', 'lakhan', 'sachin', 'harry']

In [20]:
names = ['ram', 'mohan', 'sohan', 'sita', 'suresh', 'lakhan', 'sachin', 'harry']
print("list : ",names,"\ngreeting for all whose names starts with 's' :")

for name in names:
    if name.startswith("s"):
        print("Good morning...!, ",name)

list :  ['ram', 'mohan', 'sohan', 'sita', 'suresh', 'lakhan', 'sachin', 'harry']
greeting for all whose names starts with 's' :
Good morning...!,  sohan
Good morning...!,  sita
Good morning...!,  suresh
Good morning...!,  sachin

<b>Quiz :</b> WAP to check weather number is prime or not.

In [22]:
num = int(input("enter any number to check wether number is prime or not : "))
prime = True
for i in range(2,num):
    if num % i == 0 and num != 2 :
        prime = False
        break

if prime:
    print(num," is prime number...")
else:
    print(num," is not prime number...")

enter any number to check wether number is prime or not :  7

7  is prime number...

<b>Quiz : </b> WAP to findout factorial.

In [23]:
num = int(input("enter any number to get factorial : "))
fact = 1
for i in range(1,num+1):
    fact = fact *i
print(f"factorial of {num} is : {fact}")

enter any number to get factorial :  5

factorial of 5 is : 120

<b>Quiz : </b> WAP to print first 'n' natual number using while loop.

In [25]:
num = int(input("enter range to get sum of first natural number : "))
sum = 0
i = 1
print("natural no. are : ")
while i < num+1 :
    sum = sum + i
    n = i
    print(n)
    i += 1
print(f"sum of first {i-1} natural no. is : {sum}")

enter range to get sum of first natural number :  5

natural no. are :
1
2
3
4
5
sum of first 5 natural no. is : 15

<b>Quiz : </b> WAP to print first 'n' natual number using for loop.

In [24]:
num = int(input("enter range to get sum of first natural number : "))
sum = 0
i = 1
print("natural no. are : ")
for i in range(i,num+1) :
    sum = sum + i
    n = i
    print(n)
    i += 1
print(f"sum of first {i-1} natural no. is : {sum}")

enter range to get sum of first natural number :  5

natural no. are :
1
2
3
4
5
sum of first 5 natural no. is : 15

<b>Quiz : </b> WAP to write Reverse Multiplication Table using loop.

In [26]:
num = int(input("enter number to get table : "))
limit = 10
i = 0
for i in range(limit,i,-1):
    print(f"{num} X {i} = {num*i}")

enter number to get table :  2

2 X 10 = 20
2 X 9 = 18
2 X 8 = 16
2 X 7 = 14
2 X 6 = 12
2 X 5 = 10
2 X 4 = 8
2 X 3 = 6
2 X 2 = 4
2 X 1 = 2

### Let's try patterns using control statements and loops :

<b>1. print tringle :</b>

  *  
 *** 
*****

In [11]:
i = 3
for i in range(3) :
    print(" " * (3-i-1),end="")
    print("*" * (2*i+1),end="")
    print(" " * (3-i-1))

  *
 ***
*****

In [17]:
n = int(input("enter range : "))
i = n
for i in range(n):
    print(" " * (n-i-1),end = "")
    print("*" * (2*i+1),end = "")
    print(" " * (n-i-1))

enter range :  3

  *
 ***
*****

<b>2. right side tringle :</b>

In [18]:
for i in range(4):
    print("*" * (i+1))

*
**
***
****

In [19]:
n = int(input("enter range : "))
for i in range(n) : 
    print("*" * (i + 1))

enter range :  3

*
**
***

<b>3. left side tringle :</b>

In [20]:
for i in range(5) :
    print("*" * (5-i))

*****
****
***
**
*

In [23]:
n = int(input("enter range : "))
for i in range(n):
    print("*" * (n-i))

enter range :  5

*****
****
***
**
*

* <b>some more patterns :</b>

### Function & Recursion:

### function:
group of statement or specific task you can use it and we can stop repeatation to write code and use it many times.

A function is a block of code which only runs when it is called. You can pass data, known as parameters, into a function. A function can return data as a result.

when a code gets bigger in size and complexity of it grows,it gets difficult to track specific statement. so, a function can be reused by the programmer in a given program any number of times.

<b>SYNTAX : </b>
<pre>
def function_name(parameters):                ---> function defination
                  block_of_statements;        ---> function_body
              
function(parameter)                           ---> funtion calling</pre>

1. in simple way

In [25]:
marks1 = [45, 78, 86, 77]
marks2 = [75, 89, 92, 70]

p1 = ((sum(marks1) / 400) * 100)
p2 = ((sum(marks2) / 400) * 100)

print(p1)
print(p2)

71.5
81.5

2. using function

In [27]:
def percent(marks):                        # function definition
    return (sum(marks) / 400) * 100        # function body

marks1 = [45, 78, 86, 77]
marks2 = [75, 89, 92, 70]

p1 = percent(marks1)      # function calling
p2 = percent(marks2)      # function calling

print(p1)
print(p2)

71.5
81.5

* some more

In [28]:
def demo():
    print('you are welcome')
def demo1(name):
    print('have a good day !!',name)

demo()
demo1('ram')

you are welcome
have a good day !! ram

### types of functions :

function can return results or print directly but most of them, there are two type of functions :

1. built-in : already define in python's library
2. user-defined : defined by users

* <b>built-in function :</b>

In [29]:
mark = [10, 20, 30, 40]
print(sum(mark))    # here sum()  is built-in function

100

* <b>user defined function :</b>

In [31]:
def greet(name):
    print('good morning !!!,', name)    # here greet is user define function
greet('raj')

good morning !!!, raj

* let's see them in deep by some more examples :

In [2]:
def add(x,y,z):
    return x + y + z
    
a = add(45,85,89)
print(a)

219

In [1]:
def add(x,y,z):
    sum =  x + y + z
    return sum
    
a = add(45,85,89)
print(a)

219

In [3]:
def gret(name):
    gr = "hello " + name
    return gr
    
gret('Mr. R')

'hello Mr. R'

In [5]:
def add(x,y):
    return x + y

def sub(x,y):
    return x - y

a = add(45,15)
b = sub(26,11)
print("addition : ",a,"\nsubtraction : ",b)

addition :  60
subtraction :  15

In [6]:
def add(x,y):
    add = x + y
    return add

def sub(x,y):
    sub = x - y
    return sub

a = add(45,15)
b = sub(26,11)
print("addition : ",a,"\nsubtraction : ",b)

addition :  60
subtraction :  15

* <h4>Arguments in functions :</h4>
The terms parameter and argument can be used for the same thing: information that are passed into a function. From a function's perspective: A parameter is the variable listed inside the parentheses in the function definition. An argument is the value that are sent to the function when it is called.

There are two type of arguments in function:<br>

<b>1. Formal Arguments : </b> the args used in function's definition.<br>
<b>2. Actual Arguments : </b>  the args used in function's calling.<br>
Let's understand it by following example.

In [1]:
def add(a,b):     # formal args : a,b
    return a + b

add(2,3)     # Actual args : 2,3

5

there are <b>four</b> types of argument in python functions as per use.
* number of arguments/ required/ positional argument
* keyword arguments
* default arguments
* variable arguments

<b>1. number of arguments/ required argument/ positional argument : </b>
there are any number of args can have in function if you put there specific number of args then that would be necessary to give same number of args as input of values at function's calling.

By default, a function must be called with the correct number of arguments. Meaning that if your function expects 2 arguments, you have to call the function with 2 arguments, not more, and not less.

it follows the position order.

the no. of args and order of args in the function call must be the same as that in the function definition.

you can't call any function without required args.

<b>Example : </b> we create a function expects 2 arguments. so, we only can gets 2 arguments, it means not more than 2 and aslo less than 2.

<b>SYNTAX : </b>
<pre>
def function_name(args1,args2):                ------------> function definition 
    function body....
    .................

function_name(parameter1, parameter2)           ----------> function calling with required args
</pre>

In [8]:
def fullName(x,y):
    print(f"my full name is {x} - {y}.")

fullName("raj", "kumar")

my full name is raj - kumar.

In [4]:
def order(a,b,c):
    print("1 = ",a)
    print("2 = ",b)
    print("3 = ",c)

print("way 1 :")
order(1,2,3)
print("way 2 :")
order(3,2,1)   # see the order of values

way 1 :
1 =  1
2 =  2
3 =  3
way 2 :
1 =  3
2 =  2
3 =  1

* if we don't give same number of args as that function expect than

<pre><b>ERROR of No. of Args :</b>
<Blockquote>
def myfun(x,y):
    print(f"my full name is {x} {y}.")

myfun("raj")
</Blockquote>
<b>Output:</b>
---------------------------------------------------------------------------
<b>TypeError</b>                          Traceback (most recent call last)
Cell <b>In[9], line 3</b>
      1 def myfun(x,y):
      2     print(f"my full name is {x} {y}.")
----> <b>4</b> myfun("raj")

<b>TypeError:</b> myfun() missing 1 required positional argument: 'y'</pre>

<b>2. Keyword Argument : </b> 
allow us to change the positional orgers of args. python interpreter uses the keywords provided to match the values with parameters.

<b>SYNTAX : </b>
<pre>
def fun_name(agrs, args):            -------> function definition
    function body.....
    ..................

fun_name(args1 = value1, args1 = value2) -------> function calling with using formal args as keywords.
</pre>

In [5]:
def intro(name,age):
    print(f"my name is {name} with {age} year's old...")

intro(age = 23, name = "raj")

my name is raj with 23 year's old...

<b>3. default : </b>
we can have a value as default argument in functions, if we have specify name = 'stranger' in line.

for it, it write args with their default values and when we don't call function with right values it use default value given in function's definition.

<b>Example : </b> def function_name(args = values):

In [ ]:
<b>SYNTAX : </b>
<pre>
def fun_name(agrs1, args2 = "default value"):     -------> function definition
    function body.....
    ..................

fun_name(value1, value2)     -------> function calling with using formal args as keywords.
</pre>

In [16]:
def greeting(name = 'stranger'):
    gr = "Good Morning !!!, " + name
    return gr

a = greeting()
b = greeting("raj")
print(a)
print(b)

Good Morning !!!, stranger
Good Morning !!!, raj

<b>NOTE : </b> it must be used as last argument in function's definition.

<pre><b>ERROR : </b>
<Blockquote>def name(a,b=2,c):
    print("a = ",a)
    print("b = ",b)
    print("c = ",c)

name(a = 10, c = 5)</Blockquote>Blockquote>

<Output :></b><br>
----------------------------------------------------------------------
<b>SyntaxError</b>
<b>Cell In[6], line 1</b>
    def name(a,b=2,c):
                   ^
<b>SyntaxError:</b> non-default argument follows default argument
</pre>

<b>3. variable number arguments : </b> to add an orbitary args than specified during the function definition. Special Symbols Used for passing arguments, there are two types of keywords used in arguments. these are - 

1. *args (Non-Keyword Arguments)
2. **kwargs (Keyword Arguments)

<b>NOTE :</b>
“We use the “wildcard” or “*” notation like this – *args OR **kwargs – as our function’s argument when we have doubts about the number of  arguments we should pass in a function.”

<b>SYNTAX : </b>
<pre>
def function_name(args1,args2,..., *args):

def function_name(args1,args2,..., *kwargs):
</pre>

<b>SYNTAX : </b>if you have *args & **kwargs arguments.
<pre>
def function_name(args1,args2,..., *args, **kwargs):
</pre>

* <b>*args : </b>
If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

  This way the function will receive a tuple of arguments, and can access the items accordingly:

* If the number of arguments is unknown, add a * before the parameter name

In [9]:
def myfun(*args):
    print(args)
    print(type(args))

myfun()
myfun(1)
myfun(1,2,3,4,5)

()
<class 'tuple'>
(1,)
<class 'tuple'>
(1, 2, 3, 4, 5)
<class 'tuple'>

* sum of numbers

In [11]:
def add(*args):
    sum = 0
    for i in args:
        sum = sum + i
    print(sum)

add()
add(1,3)
add(2,4,6)

0
4
12

In [15]:
def add(a, *args):
    print("a : ",a)
    sum = 0
    for i in args:
        sum = sum + i
    print("sum = ",sum)

add(1,3)
add(2,4,6)

a :  1
sum =  3
a :  2
sum =  10

* If the number of arguments is unknown, add an asteric (*) before the parameter name:

In [8]:
def myfun(*name):
    result = f"my full name is {name[0]}, {name[1]} {name[2]}"
    return result

x = myfun('rajendra', 'kumar','randa')
print(x)

my full name is rajendra, kumar randa

<b>NOTE : </b> The phrase Keyword Arguments are often shortened to kwargs in Python documentations.

* <b> **kwargs : </b>      If you do not know how many keyword arguments that will be passed into your function, add two asterisk: ** before the parameter name in the function definition. This way the function will receive a dictionary of arguments, and can access the items accordingly.

If the number of keyword arguments is unknown, add a double ** before the parameter name.

it takes key-value pairs like dictionary in argument and we can create dictionary and pass it as ** with variable name.

In [27]:
def myfun(**kwargs):
    print(kwargs)
    print(type(kwargs))
    print(kwargs['a'])

myfun(a = 3, b = 5)

{'a': 3, 'b': 5}
<class 'dict'>
3

In [32]:
def myfun(**kwargs):
    print("a = ", kwargs['a'])
    print(kwargs.items())

myfun(a = 3, b = 5)

a =  3
dict_items([('a', 3), ('b', 5)])

In [34]:
def myfun(**kwargs):
    for keys, values in kwargs.items():
        print("key : " ,keys,"value : ",values)

myfun(a = 3, b = 5)
myfun(a = 2, b = 4, c = 6)

key :  a value :  3
key :  b value :  5
key :  a value :  2
key :  b value :  4
key :  c value :  6

In [22]:
def myFun(**kwargs):
    for key, value in kwargs.items():
        print(f"{key} = {value}")

# Driver code
myFun(first='Geeks', mid='for', last='Geeks')

first = Geeks
mid = for
last = Geeks

In [21]:
def my_function(**kid):
  print("His last name is ", kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is  Refsnes

In [23]:
def fun1(**kwargs):
    for key,value in kwargs.items():
        print(key,":",value)
        
dict = {'a': 'this is a','b': 'this is b','c': 'this is c','d': 'this is d',}
fun1(**dict)

a : this is a
b : this is b
c : this is c
d : this is d

<b>Ques. : </b> difference between *args and **kwargs is that *args is works for collection of values and **kwargs for dictionaries.

by default use this argument in the last like (......**kwargs)<br>
example of **kwargs with simple variable,

In [24]:
def fun1(s,**kwargs):
    print(s)
    for key,value in kwargs.items():
        print(key,":",value)
        
str = 'this is string'
dict = {'a': 'this is a','b': 'this is b','c': 'this is c','d': 'this is d',}
fun1(str,**dict)

this is string
a : this is a
b : this is b
c : this is c
d : this is d

let's see simple, *args and **kwargs type argument togather,<br>
<b>order to use arguments :</b>
default we use it in this order as : simple, default, *args, **kwargs

main thing in that, if you don't pass them as argument in the time of function calling they'll never give errors

In [36]:
def show(x,y,*a,**c):
    print(x)
    print(y)
    print(a)
    print(c)
    

p = 'this is python'
q = 'it is so simple'
l1 = [1, 2, 3, 4, 5]
l2 = [9, 8 , 7, 6]
dict1 = {0: 'this is 0','x': 'this is x','y': 'this is y','z': 'this is z',}
dict2 = {0: 'this is 0','x': 'this is x','y': 'this is y','z': 'this is z',}
show(p,q,l1,l2,dict1,dict2)

# only one * and ** parameter allowed

this is python
it is so simple
([1, 2, 3, 4, 5], [9, 8, 7, 6], {0: 'this is 0', 'x': 'this is x', 'y': 'this is y', 'z': 'this is z'}, {0: 'this is 0', 'x': 'this is x', 'y': 'this is y', 'z': 'this is z'})
{}

In [48]:
def myfun(a,b =10,*t,**d):
    print("a -> ",a)
    print("b -> ",b)
    print("*t -> ",t)
    print("**d -> ", d.items())

x = (10, 20, 30)
y = {'ONE':"this is one",'TWO':"this is two"}
myfun(12,*x ,**y )

a ->  12
b ->  10
*t ->  (20, 30)
**d ->  dict_items([('ONE', 'this is one'), ('TWO', 'this is two')])

<b>4. variable argument : </b>
using *args and **kwargs to call a function.

<b>SYNTAX : </b><pre>
def fun_name(args1,args2,args3):
    function_body......
    ...................

fun_name(*args)
fun_name(**kwargs)
</pre>

In [35]:
def myfun(a,b,c,d):
    print(a,b,c,d)

t = (1,3,5,7)
myfun(*t)

1 3 5 7

In [42]:
def myfun(a,b,c,d):
    print(a,b,c,d)

d = {'a': "this is A", 'b':"this is B",'c':"this is C",'d': "this is D"}
myfun(**d)

this is A this is B this is C this is D

### Recursion:
the function called himself is known as recursion.

<b>SYNTAX : </b>
<pre>
def function_name(args1, args2, .....):   ----> function definition 
    statement 1;                          ----> function body
    function_name(args1, args2, .....)    ----> function calling itself:recursion

function_name(args1, args2, ......)       ----> function calling
</pre>

* let's see that via example :

In [26]:
# factorial : 4! = 4 * 3 * 2 * 1 = 42
# n! = n * (n-1) * .......3 * 2 * 1 || fact(n) = n * fact(n-1)
def fact(n):
    if n == 1 or n == 0:       # coz fact of 1 or 0 is always 1
        return 1
    else:
        return (n*fact(n-1))

x = fact(5)
print(x)

120

<b>NOTE : </b> be careful with using recursion  working to ensure that the function doesn't call infinitly himself.<br>
recursion is sometimes the most direct way to code an algorithm.

### lambda/ Anonyoums function :
this function create using 'lanbda' keyword.
<br>A lambda function is a small anonymous function. it takes any number of 
arguments, but can only have one expression. it is also known as <b>one-line function</b>.

<b>SYNTAX : </b>
<pre>
lambda arguments : expression </pre>

In [27]:
# lambda function: 
a = lambda num : num +1; print(a(5))
square = lambda x : x*x
sum = lambda x, y, z : x+y+z
x = 3
y = 2
print(square(x)) #9
print(sum(x,y,1)) #6

6
9
6

<b>Ques. :  Why Use Lambda Functions?</b><br>
<b>Ans. : </b> The power of lambda is better shown when you use them as an anonymous function inside another function.<br>
Say you have a function definition that takes one argument, and that argument will be multiplied with an unknown number.<br>
why we use: if you wwant to create any function with one expression or
need to return function as so you can use it that time and also can use 
it anywhere.

* Add 10 to any given any number, and return the result.

In [28]:
x = lambda a : a + 10
print(x(5))

15

* Multiply argument a with argument b and return the result:

In [29]:
x = lambda a,b : a * b
x(2,4)

8

* Summarize argument a, b, and c and return the result:

In [30]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

### Array in python :

Arrays are used to store multiple values in one single variable. it is the collection of dis-similar data elements in columns or in rows.

An array is a special variable, which can hold more than one value at a time.

If you have a list of items (a list of car names, for example), storing the cars in single variables could look like this:

<b>SYNTAX : </b><br>
<pre>
 array_name = [element1, element2, element3, ....., elementn]
</pre>

<b>NOTE : </b> Python does not have built-in support for Arrays, but Python Lists can be used instead.

<b>NOTE : </b> This page shows you how to use LISTS as ARRAYS, however, to work with arrays in Python you will have to import a library, like the "<u>NumPy library</u>".

* create an array

In [4]:
ar = []
print(ar)
print(type(ar))

[]
<class 'list'>

In [2]:
cars = ['ford', 'volvo', 'BMW']

print(cars)
print(type(cars))

['ford', 'volvo', 'BMW']
<class 'list'>

* access the elements

In [8]:
cars = ['ford', 'volvo', 'BMW']

x = cars[0]

print(x)

ford

* change the value

In [19]:
cars = ['ford', 'volvo', 'BMW']

cars[0] = 'Toyota'

print(cars)

['Toyota', 'volvo', 'BMW']

* length of an array

In [18]:
cars = ['ford', 'volvo', 'BMW']

print(len(cars))

3

<b>NOTE : </b> The length of an array is always one more than the highest array index.

* loop in array

In [9]:
cars = ['ford', 'volvo', 'BMW']

for car in cars:
    print(car)

ford
volvo
BMW

* add element in array

In [17]:
cars = ['ford', 'volvo', 'BMW']

cars. Append("honda")
print(cars)

['ford', 'volvo', 'BMW', 'honda']

* remove elements in array

<b>1. pop() : </b> you can use pop() to remove any element of array.

In [20]:
cars = ['ford', 'volvo', 'BMW']

cars.pop(1)

print(cars)

['ford', 'BMW']

<b>2. remove() : </b> You can also use the remove() method to remove an element from the array.

In [21]:
cars = ['ford', 'volvo', 'BMW']

cars.remove('volvo')

print(cars)

['ford', 'BMW']

<b>NOTE : </b> The list's remove() method only removes the first occurrence of the specified value.

<b>Ques.: </b> what is the difference between pop() and remove().<br>
<b>difference : </b> pop() used index to remove elements and remove() used values to remove any elements.

#### Array Methods
Python has a set of built-in methods that you can use on lists/arrays<br>
<b>NOTE : </b> you read them all in list chapter..
<table width = 100%>
<tbody><tr>
<th>Method</th>
<th>Description</th>
</tr>
<tr><td><a href="ref_list_append.asp">append()</a></td><td>Adds an element at 
  the end of the list</td></tr>
<tr><td><a href="ref_list_clear.asp">clear()</a></td><td>Removes all the 
  elements from the list</td></tr>
<tr><td><a href="ref_list_copy.asp">copy()</a></td><td>Returns a copy of the 
  list</td></tr>
<tr><td><a href="ref_list_count.asp">count()</a></td><td>Returns the number of 
  elements with the specified value</td></tr>
<tr><td><a href="ref_list_extend.asp">extend()</a></td><td>Add the elements of a 
  list (or any iterable), to the end of the current list</td></tr>
<tr><td><a href="ref_list_index.asp">index()</a></td><td>Returns the index of 
  the first element with the specified value</td></tr>
<tr><td><a href="ref_list_insert.asp">insert()</a></td><td>Adds an element at 
  the specified position</td></tr>
<tr><td><a href="ref_list_pop.asp">pop()</a></td><td>Removes the element at the 
  specified position</td></tr>
<tr><td><a href="ref_list_remove.asp">remove()</a></td><td>Removes the first 
  item with the specified value</td></tr>
<tr><td><a href="ref_list_reverse.asp">reverse()</a></td><td>Reverses the order 
  of the list</td></tr>
<tr><td>sort()</a></td><td>Sorts the list</td></tr>
</tbody></table>

<center><h1>Object Oriented Python</h1></center>

<b>Python Object Oriented Programming : </b> In Python, object-oriented Programming (OOP's) is a programming paradigm that uses objects and classes in programming. It aims to implement real-world entities like inheritance, polymorphisms, encapsulation, etc. in the programming. The main concept of OOPs is to bind the data and the functions that work on that together as a single unit so that no other part of the code can access this data. 

<b>Object Oriented Programming is used to solving a problem by creating an object is one of the most approch in programming. this is called Object Oriented Programming.this concept is focus on re-use the code.
</b>.

#### Naming Convention :
there are two naming conventions mostly used in programming languages. we also should use it for naming variable, functions and classes or even for objects.
* <b>camel case</b> : rajendraKumarRanda 
* <b>pascal case</b> : RajendraKumarRanda

<b>OOPs Concepts in Python</b>
* Class
* Objects
* Polymorphism
* Encapsulation
* Inheritance
* Data Abstraction

<table>
    <tbody>
        <tr>
            <td><b>OOPs Concepts</b></td>
            <td><b>1. Class</b></td>
            <td><b>2. Objects</b></td>
            <td><b>3. Polymorphism</b></td>
            <td><b>4. Encapsulation</b></td>
            <td><b>5. Inheritance</b></td>
            <td><b>6. Data Abstraction</b></td>
            <td><img alt="Types-of-OOPs" height="200" src="https://media.geeksforgeeks.org/wp-content/uploads/20230818181616/Types-of-OOPS-2.gif"></td>
        </tr>
    </tbody>
</table>

<h4>Lets know it in brief : </h4>
Let us try to understand a little about all these, through a simple example. Human Beings are living forms, broadly categorized into two types, Male and Female. Right? Its true. Every Human being(Male or Female) has two legs, two hands, two eyes, one nose, one heart etc. There are body parts that are common for Male and Female, but then there are some specific body parts, present in a Male which are not present in a Female, and some body parts present in Female but not in Males.

All Human Beings walk, eat, see, talk, hear etc. Now again, both Male and Female, performs some common functions, but there are some specifics to both, which is not valid for the other. For example : A Female can give birth, while a Male cannot, so this is only for the Female.

Human Anatomy is interesting, isn't it? But let's see how all this is related to Python and OOPS. Here we will try to explain all the OOPS concepts through this example and in the next tutorial, we will have the technical definitons for all this.
* <b>Class : </b>
Here we can take Human Being as a class. A class is a blueprint for any functional entity which defines its properties and its functions. Like Human Being, having body parts, and performing various actions.

* <b>Objects : </b>
My name is Abhishek, and I am an instance/object of class Male. When we say, Human Being, Male or Female, we just mean a kind, you, your friend, me we are the forms of these classes. We have a physical existence while a class is just a logical definition. We are the objects.

* <b>Inheritance : </b>
Considering HumanBeing a class, which has properties like hands, legs, eyes etc, and functions like walk, talk, eat, see etc. Male and Female are also classes, but most of the properties and functions are included in HumanBeing, hence they can inherit everything from class HumanBeing using the concept of Inheritance.

* <b>Abstraction : </b>
Abstraction means, showcasing only the required things to the outside world while hiding the details. Continuing our example, Human Being's can talk, walk, hear, eat, but the details are hidden from the outside world. We can take our skin as the Abstraction factor in our case, hiding the inside mechanism.

* <b>Encapsulation : </b>
This concept is a little tricky to explain with our example. Our Legs are binded to help us walk. Our hands, help us hold things. This binding of the properties to functions is called Encapsulation.

* <b>Polymorphism : </b>
Polymorphism is a concept, which allows us to redefine the way something works, by either changing how it is done or by changing the parts using which it is done. Both the ways have different terms for them.

***Let's see them one by one...***

#### Python Class :
A class is a collection of objects. A class contains the blueprints or the prototype from which the objects are being created. It is a logical entity that contains some attributes and methods. <b>class is a blueprint for creating object, class not store 
memory it is just a instance</b>.

<b>NOTE : </b>class class_name:   # it is written in pascal case

* Classes are created by keyword class.
* Attributes are the variables that belong to a class.
* Attributes are always public and can be accessed using the dot (.) operator. Eg.: Myclass.Myattribute.

<b>SYNTAX : </b><br>
<pre>
    class class_name:
    statement 1;
    statement 2;
    statement 3;
    .......... ;
    statement n;
</pre>

In [2]:
class myclass:
    name = 'raj'
    age = 23
    place = 'INDIA'

#### python Object :

The object is an entity that has a state and behavior associated with it. It may be any real-world object like a mouse, keyboard, chair, table, pen, etc. Integers, strings, floating-point numbers, even arrays, and dictionaries, are all objects. More specifically, any single integer or any single string is an object. The number 12 is an object, the string “Hello, world” is an object.
<b> it is an instantiation of a class,when class is defined,memory is allocated only after object instantiation object of a class can be invoke the method available to it without revealing the implementation details to the usion.</b>

<b>SYNTAX :</b><br>
<pre>
object_name = class_name() 
object_name.properties = value
</pre>

In [3]:
student = myclass()

print(student.name)
print(student.age)
print(student.place)

raj
23
INDIA

<b>Let's see the classes and their objects</b>

In [1]:
# create class
class myclass:
    x = 5

# create object
number = myclass()
print(number.x)

5

* Let's see more examples

In [10]:
class RailwayForm:
    formType = "Railway-Form"
    def printData(self):
        print(f"name : {self.name}")
        print(f"train : {self.train}")

# create object
rajForm = RailwayForm()

# insert value for your object
rajForm.name = "raj kumar"
rajForm.train = "xyz express"

# print value of function inside of class for your object
rajForm.printData()

# print class variable
print(RailwayForm.formType)

name : raj kumar
train : xyz express
Railway-Form

<b>elements called in Opps in above example :</b>
* <b>class name : </b> RailwayForm
* <b>class variable : </b> formType
* <b>instance variable : </b> name, train
* <b>object name : </b> rajForm

In [11]:
class EmployeeData:
    Company = " VS Code Company "
    def employee(self):
        print(f"Employee Details of '{self.name}' are here : ")
        print(f"NAME : {self.name}")
        print(f"SALARY : {self.salary} ")
        print(f"PLACE : {self.place}")
        print("**********************************")

# object 1
# creating object of class
emp1 = EmployeeData()

# insert values of class for object 1
emp1.name = "Rajendra"
emp1.salary = "20,000/-"
emp1.place = "INDORE"

# print data for object 1
print(emp1.Company)   # print class variable for object 1
emp1.employee()      # print value using function inside of class for object 2

# object 2
# creating object of class
emp2 = EmployeeData()

# insert values of class for object 2
emp2.name = "Mohan"        
emp2.salary = "15,000/-"
emp2.place = "BHOPAL"

# print data for object 2
print(emp2.Company)   # print class variable for object 1
emp2.employee()       # print value using function inside of class for object 2

 VS Code Company
Employee Details of 'Rajendra' are here :
NAME : Rajendra
SALARY : 20,000/-
PLACE : INDORE
**********************************
 VS Code Company
Employee Details of 'Mohan' are here :
NAME : Mohan
SALARY : 15,000/-
PLACE : BHOPAL
**********************************

* change the value of class variable

1. for all objects.

In [2]:
class EmployeeData:
    Company = " VS Code Company "
    def employee(self):
        print(f"Employee Details of '{self.name}' are here : ")
        print(f"NAME : {self.name}")
        print(f"SALARY : {self.salary} ")
        print(f"PLACE : {self.place}")
        print("**********************************")

# creating objects
emp1 = EmployeeData()
emp2 = EmployeeData()

# it'll change value of variable for every object
EmployeeData.Company = "Google"


# print class variable
print(emp1.Company)
print(emp2.Company)

Google
Google

2. for specific object

In [17]:
class EmployeeData:
    Company = " VS Code Company "
    def employee(self):
        print(f"Employee Details of '{self.name}' are here : ")
        print(f"NAME : {self.name}")
        print(f"SALARY : {self.salary} ")
        print(f"PLACE : {self.place}")
        print("**********************************")

# creating objects
emp1 = EmployeeData()
emp2 = EmployeeData()

# change value of class variable for every object 1
emp1.Company = "Google"

# change value of class variable for every object 1
emp2.Company = "Facebook"

# print class variable
print(emp1.Company)    # for object 1
print(emp2.Company)    # for object 2

Google
Facebook

* example change value using class_name

In [22]:
class Employee:
    company = "Google"
    salary = 100

raj = Employee()
ram = Employee()

raj.salary = 500

print(raj.company)
print(raj.salary)

print(ram.company)
print(ram.salary)

Employee.company = "Yahoo!"

print(raj.company) 
print(ram.company)

print(raj.salary) 
print(ram.salary)

ram.company = 'youtube' 
print(raj.company) 
print(ram.company)

Google
500
Google
100
Yahoo!
Yahoo!
500
100
Yahoo!
youtube

* add/ create instance variable

In [24]:
class Employee:
    company = "Google"
    salary = 100

raj = Employee()
ram = Employee()

# create instance variable
ram.address = 'INDORE'

print(raj.company)
print(raj.salary)

print(ram.company)
print(ram.salary)
print(ram.address)

Google
100
Google
100
INDORE

* <b>class attribute:</b> attribute defined inside the class 
* <b>instance attribute:</b> an attribute that belongs to instance(object) 
assuming the class from previous example. 
<br><b>syntax:</b> raj.salary = 500 #adding instance attribute 
<br>instance attribute take preference over class attribute during 
assignment & retrival 
 
<b>SELF:</b> it refers instance of class it is automatically passed with function call from an object. <br>
<b>NOTE : </b>after remove 'self ' you'll get error like that ".getSalary()" takes 0 positional arguments but 1 was given.

In [25]:
class Employee:
  company = "Google"
  def getSalary(self):
    print("sal is 100K")
      
harry = Employee()
harry.getSalary() #it means 'employee.getSalary(harry)' <--just for understanding

sal is 100K

In [28]:
class Employee:
  company = "Google"
  def getSalary(self):
    print(f"company : {self.company} \nsalary is {self.salary}")

harry = Employee()

harry.company = 'ABC company'
harry.salary = 100000

harry.getSalary()

company : ABC company
salary is 100000

#### static method :
sometimes, we need to define a function who don't use/need self parameter so for that we can define them as static method.

In [36]:
class Employee:
  company = "Google"
  def getData(self,sign):
    print(f"company: {self.company} and salary will be {self.salary} \n{sign}")
  @staticmethod   #it's a decorator to mark greet as a static method
  def greet():
    print("have a good day...")
  @staticmethod   #it's a decorator to mark greet as a static method
  def time():
    print("now, it's 9am")

harry = Employee()

harry.salary = 1000
harry.getData("thanks!")

Employee.greet()
harry.greet()  # same as employee.greet()
harry.time()

company: Google and salary will be 1000
thanks!
have a good day...
have a good day...
now, it's 9am

### constructor:
A constructor is a special method of a class or structure in object-oriented programming that initializes a newly created object of that type. Whenever an object is created, the constructor is called automatically.

<b>'_ _ init _ _' : </b> it is a special method which is first run as soon as the object created, it is known as constructor, it takes self args and also take further args.

In [32]:
class Employee:
  company = "Google"
  def __init__(self):
    print("employee is created!")
      
harry = Employee()  # employee is created!

employee is created!

In [37]:
class Employee:
  company = 'facebook'
  def __init__(self, name, salary, subunit):
    self.name = name
    self.salary = salary
    self.subunit = subunit
    print("employee created!")

  def getDetails(self):
    print(f"name :{self.name}")
    print(f"salary :{self.salary}")
    print(f"subunit :{self.subunit}")

  def getData(self,signature):
    print(f"company is {self.company} and salary will be {self.salary} \n{signature}")

  @staticmethod
  def greet():
    print("have a good day !!!")

  @staticmethod
  def time():
    print("time : 9am")

raj = Employee("raj",1000, "Youtube")
# raj = Employee()   #error:missing 3 args
raj.getDetails()

raj.getData('Mr. R')

raj.greet()
raj.time()

employee created!
name :raj
salary :1000
subunit :Youtube
company is facebook and salary will be 1000
Mr. R
have a good day !!!
time : 9am

<b>NOTE : </b>you dont need to write manually like raj,name = 'raj'. in above example.

<b>Ques. : </b> create a class  programmer for storing data of few programmer working on ms.

In [39]:
class Programmer:
    def __init__(self,name,product):
        self.name = name
        self.product = product
    def getInfo(self):
        print(f"programmers details: \n name : {self.name} \n product : {self.product}\n")

obj1 = Programmer("ram", "skype")
obj2 = Programmer("sita", "git")

obj1.getInfo()
obj2.getInfo()

programmers details:
 name : ram
 product : skype

programmers details:
 name : sita
 product : git

<b>Ques : </b> write a class calculator capable of finding square, cube and squareroot of a number.

In [42]:
class Calculator:
    def __init__(self,num):
        self.num = num
    def square(self):
        print(f"square of {self.num} is {self.num**2}")
    def cube(self):
        print(f"cube of {self.num} is {self.num**3}")
    def squareRoot(self):
        print(f"square root of {self.num} is {self.num**0.5}")

a = Calculator(9)

a.square()
a.cube()
a.squareRoot()

square of 9 is 81
cube of 9 is 729
square root of 9 is 3.0

<b>Ques : </b> create a class with a class attribute a ,create an object from it and set directly using object a = 0, does this change class attribute?

In [45]:
class Sample:
    a = 10

obj = Sample()

obj.a = 20

print(obj.a)
print(Sample.a)

20
10

<b>REASON : </b> no it'll not change, coz object create instance of class attribute for self.

<b>Ques : </b> add a static method in ques 2 to greet the user with hello [ques 2: write a class calculator capable of finding square, cube and squareroot of a number.]

In [47]:
class Calculator:
    def __init__(self,num):
        self.num = num
    def square(self):
        print(f"square of {self.num} is {self.num**2}")
    def cube(self):
        print(f"cube of {self.num} is {self.num**3}")
    def squareRoot(self):
        print(f"square root of {self.num} is {self.num**0.5}")
    @staticmethod
    def greet():
        print("thanks for using it...!")

a = Calculator(2)

a.square()
a.cube()
a.squareRoot()
a.greet()

square of 2 is 4
cube of 2 is 8
square root of 2 is 1.4142135623730951
thanks for using it...!

<b>Ques. :</b> wriet a class train which has method to book a ticket and eget status(no. of seat) and get fare information of train running under indian railways.

In [50]:
class Train:
  def __init__(self, name, fare, seats):
    self.name = name
    self.seats = seats
    self.fare = fare
    print("have a good day..")
  def info(self):
    print(f"train:{self.name} \nticket fare: {self.fare} \ntotal seat:{self.seats}")

enterCity = Train("XYZ-express", 90, 300)
enterCity.info()

have a good day..
train:XYZ-express
ticket fare: 90
total seat:300

<b>Ques : </b> can you change self parameter inside a class to something else (say 'sir'),try changing self to "slf","harry" and see the efect.

In [52]:
class Sample:
  def __init__(sf,name):   # you can use any keyword in the place of 'self' like 'sf'
    sf.name = name

ob = Sample("harry")
print(ob.name)

harry

<b>just for fun</b>

In [7]:
class Train:
  def __init__(self, name, fare, seats):
    self.name = name
    self.seats = seats
    self.fare = fare
  def status(self):
    print(f"train name:{self.name}\n ticket fare: {self.fare} \n total seat:{self.seats}")
  def bookTicket(self):
    if(self.seats>0):
      print(f"ticket booked!! your sit no. is {self.seats}")
      self.seats = self.seats-1
    else:
      print("sorry all ticket are already booked!!!")

enterCity = Train("XYZ-express", 10, 5)
enterCity.status()
enterCity.bookTicket()
enterCity.bookTicket()
enterCity.bookTicket()
enterCity.bookTicket()
enterCity.status()

train name:XYZ-express
 ticket fare: 10
 total seat:5
ticket booked!! your sit no. is 5
ticket booked!! your sit no. is 4
ticket booked!! your sit no. is 3
ticket booked!! your sit no. is 2
train name:XYZ-express
 ticket fare: 10
 total seat:1

<b>Quick Revision : </b> class & object

In [1]:
class Student:
    school = 'Python e-Learning Academy'
    def GetData(self):
        print("Student Details :\nNAME : {self.name} \n CLASS : {self.std}\n")

obj1 = Student()
obj2 = Student()

obj1.name = "raju"
obj1.std = '12th'

obj2.name = "ram"
obj2.std = '10th'

print(obj1.school)
obj1.GetData()

print(obj2.school)
obj2.GetData()

print(Student.school)

Python e-Learning Academy
Student Details :
NAME : {self.name}
 CLASS : {self.std}

Python e-Learning Academy
Student Details :
NAME : {self.name}
 CLASS : {self.std}

Python e-Learning Academy

In [2]:
class Student:
    school = 'Python e-Learning Academy'
    def GetData(self):
        print("Student Details :\nNAME : {self.name} \n CLASS : {self.std}\n")

obj1 = Student()
obj2 = Student()

print(Student.school)
print(obj1.school)
print(obj2.school)

Student.school = "just python"

print(Student.school)
print(obj1.school)
print(obj2.school)

obj2.school = "java T point"

print(Student.school)
print(obj1.school)
print(obj2.school)

Python e-Learning Academy
Python e-Learning Academy
Python e-Learning Academy
just python
just python
just python
just python
just python
java T point

In [3]:
class Mypython:
    lang = 'high-level pro'
    def intro(self):
        print(f"inventor : {self.inv} \n place : {self.place}")
    @staticmethod
    def geet():
        print("this is great programming language used in all world-wide areas...")

obj1 = Mypython()

obj1.inv = "guido ven russum"
obj1.place = "neitherland USA"

obj1.intro()
obj1.geet()

Mypython.geet()

inventor : guido ven russum
 place : neitherland USA
this is great programming language used in all world-wide areas...
this is great programming language used in all world-wide areas...

In [4]:
class Emp:
    def __init__(self,name,position,salary):
        self.n = name
        self.pos = position
        self.sal = salary
        print("\nCOMPANY = XYZ institute pvt LTD\n********************************")
    def Data(self,place):
        print(f"NAME : {self.n} \nPOSITION : {self.pos} \nSALARY : {self.sal} \nADDRESS : {place}")
    @staticmethod
    def greet():
        print("---------------------------")
        print("thanks for visiting us...")
        print("---------------------------\n")

e1 = Emp("raj", "manager", "50,000/-")
e1.Data("INDORE")
e1.greet()

e2 = Emp("rahul", "developer", "65,000/-")
e2.Data("BHOPAL")
e2.greet()

COMPANY = XYZ institute pvt LTD
********************************
NAME : raj
POSITION : manager
SALARY : 50,000/-
ADDRESS : INDORE
---------------------------
thanks for visiting us...
---------------------------


COMPANY = XYZ institute pvt LTD
********************************
NAME : rahul
POSITION : developer
SALARY : 65,000/-
ADDRESS : BHOPAL
---------------------------
thanks for visiting us...
---------------------------

### INHERITANCE:
creating a new class using an existing or old class with adding or modifying new features.

<b>Ques. : Why do we use inheritance in programmings? what are the pros and cons of inheritence?</b><br>
<b> Ans. : </b>
Inheritance is a fundamental concept in object-oriented programming (OOP) that allows one class to inherit properties and behaviors from another class. The primary purpose of inheritance is to promote code reuse, extensibility, and the creation of a hierarchy of classes.

<br>Here are some key reasons why inheritance is used :<br>

* <b>Code Reusability : </b> Inheritance allows a new class (subclass or derived class) to inherit the attributes and methods of an existing class (superclass or base class). This promotes the reuse of code, as the subclass can leverage the functionality of the superclass without having to duplicate or redefine it.

* <b>Extensibility : </b> Inheritance enables the creation of new classes that are extensions of existing classes. Developers can add or override methods in the subclass to tailor the behavior to specific needs while still benefiting from the existing functionality of the superclass.

* <b>Hierarchy and Organization : </b> Inheritance facilitates the creation of class hierarchies, organizing related classes in a structured manner. This hierarchy helps in understanding and managing the relationships between different classes in a system.

* <b>Polymorphism : </b> Inheritance is closely related to polymorphism, another OOP concept. Polymorphism allows objects of different classes to be treated as objects of a common base class. This enhances flexibility and enables code to work with objects at a higher level of abstraction.

* <b>Maintenance and Updates : </b> When changes or updates are needed in a system, inheritance allows modifications to be made at the superclass level. These changes automatically propagate to all subclasses, reducing the effort required to maintain and update the code.

* <b>Abstraction : </b> Inheritance helps in creating abstract classes that define a common interface and certain behaviors without providing a complete implementation. Subclasses then provide the concrete implementations. This abstraction allows developers to focus on essential features and hide unnecessary details.

* <b>Reduced Redundancy : </b> Inheritance helps in reducing redundancy by promoting the reuse of code. Common functionality can be defined in a superclass, eliminating the need to duplicate the same code in multiple places.

Despite these advantages, it's essential to use inheritance judiciously to avoid potential pitfalls such as tight coupling between classes and the risk of creating overly complex hierarchies. The principles of good object-oriented design, such as the SOLID principles, can guide developers in using inheritance effectively.
##### Advantages of Inheritance :
* <b>Minimizing duplicate code : </b>Key benefits of Inheritance include minimizing the identical code as it allows sharing of the common code among other subclasses.

* <b>Flexibility : </b>Inheritance makes the code flexible to change, as you will adjust only in one place, and the rest of the code will work smoothly.

* <b>Overriding: With the help of Inheritance, you can override the methods of the base class.

* <b>Data Hiding : </b> The base class in Inheritance decides which data to be kept private, such that the derived class will not be able to alter it.

##### Disadvantages of Inheritance :
* <b>No Independence : </b> One of the main disadvantages of Inheritance in Java is that two classes, both the base and inherited class, get tightly bounded by each other. In simple terms, Programmers can not use these classes independently of each other.

* <b>Decreases Execution Speed : </b> Another con of Inheritance is that it decreases the execution speed because Inheritance execution takes time and effort.

* <b>Refactoring the Code : </b> If the user deletes the Super Class, then they have to refactor it if they have used it.

<b>Inheritance classes : </b>Inheritance allows us to define a class that inherits all the methods and properties from another class. there are two types of class one is main class or source class that's known as parent class and other one is child class who inherit feature from main class.

* <b>Parent class :</b> It is the class being inherited from, also called "base/main class".
* <b>Child class :</b> It is the class that inherits from another class, also called "derived class".

<b>Create a Parent Class :</b> Any class can be a parent class, so the syntax is the same as creating any other class.

<b>SYNTAX :</b><br>
* create class :
<pre>
class class_name:
        def __init__(self, var_1, var_2, ....., var_n):
            self.variable_1 = var_1
            self.variable_2 = var_2
            self.variable_3 = var_3
            .......................
            self.variable_n = var_n

        def function_name(self):
            print(self.variable_1, self.variable_2, ........, self.variable_n)
</pre>
* create and execute the object
<pre>

  object_1  = class_name(value_1, value_2, value_2, ............, value_n)
  object_1.function_name()
</pre>

<b> Create a Child Class : </b> a class who holds name of his parenet class as arguments to inherit their features

<b>SYNTAX :</b><br>
* create child class
<pre>
 class child_class_name(parent_class_name):
        statements_1
        statements_1
        ............
        statements_n
</pre>

In [6]:
# parent class
class Employee:
    company = "Python-Pro"
    def showData(self):
        print(f"this an employee of {self.company}...")

# child class
class Programmer(Employee):
    lang = 'python'
    def getLanguage(self):
        print(f"programming skills : {self.lang}")

e = Employee()
p = Programmer()

e.showData()
p.showData()
p.getLanguage()

this an employee of Python-Pro...
this an employee of Python-Pro...
programming skills : python

<b>Error :</b><pre>
<BlockQuote>* parent class
class Employee:
    company = "Python-Pro"
    def showData(self):
        print(f"this an employee of {self.company}...")

* child class
class Programmer(Employee):
    lang = 'python'
    def getLanguage(self):
        print(f"programming skills : {self.lang}")

* creating object
e = Employee()
p = Programmer()

* try to access child class feature by parent class object
e.getLanguage()</BlockQuote></pre>
<pre>
--------------------------------------------------------------------
<b>AttributeError </b>                   Traceback (most recent call last)
Cell <b>In[5], line 19</b>
     17 p.showData()
     18 p.getLanguage()
---> <b>19</b> e.getLanguage()<br>
    
<b>AttributeError :</b>  'Employee' object has no attribute 'getLanguage'
</pre>

#### Over-riding :
Overriding is a concept in object-oriented programming (OOP) that allows a subclass to provide a specific implementation for a method that is already defined in its superclass. When a subclass provides its own version of a method with the same signature as a method in its superclass, it is said to override that method.

Here are key points about method overriding:

* <b>Same Method Signature : </b>The overridden method in the subclass must have the same method signature (name, return type, and parameters) as the method in the superclass. This is crucial for the compiler to recognize it as an override.

* <b>Inheritance Relationship : </b>Overriding occurs in the context of inheritance. The method being overridden must be declared in the superclass, and the subclass must inherit from that superclass.

In [1]:
class Employee:
  company = "Google"
  def showDetails(self):
    print(f"this is an employee..")

class Programmer(Employee):
  language = 'python'
  company = 'Yahoo!'          #overriding
  def getlanguage(self):
    print(f"language is {self.language}")
  def showDetails(self):
    print("i am programmer...")   #overriding

e = Employee()
p = Programmer()

e.showDetails()
p.showDetails()

print(e.company)
print(p.company)

# e.getlanguage() #AttributeError: 'Employee' object has no attribute 'getlanguage'
p.getlanguage()

this is an employee..
i am programmer...
Google
Yahoo!
language is python

#### Inheritance Types :
There are 5 different types of inheritance in Python.They are:<br>
<b>1. Single Inheritance :</b> a child class inherits from only one parent class.<br>
<b>2. Multiple Inheritance :</b> a child class inherits from multiple parent classes.<br>
<b>3. Multilevel Inheritance :</b> a child class inherits from its parent class, which is inheriting from its parent class.<br>
<b>4. Hierarchical Inheritance :</b> more than one child class are created from a single parent class.<br>
<b>5. Hybrid Inheritance :</b> combines more than one form of inheritance.

<b>1. single inheritance:</b>The inheritance in which a single derived class is inherited from a single base class is known as the Single Inheritance.

In [2]:
class Employee:
    company = 'google'
    def showDetails(self):
        print("i am an employee..")

class Programmer(Employee):
    job = 'programmer'
    def showData(self):
        print("i am an programmer..")

e = Employee()
p = Programmer()

print(e.company)
print(p.company)
print(p.job)

e.showDetails()
p.showDetails()
p.showData()

google
google
programmer
i am an employee..
i am an employee..
i am an programmer..

<b>2. multiple inheritance:</b>

<b>3. multilevel inheritance:</b>

In [1]:
print("hello")

hello

* super()
* class()
* decorator
* operator overloading

<center><h1>Advance python</h1></center>

define adv python

### exception handling :

### file handling:
<b>we learn here to handle text files and folders, connect with databases and work with command mode.</b>

we will see how to create, detele and rename any txt and excel file and also edit content written inside of files.

* files I/O : YOU CAN INTERACT WITH FILES(read,write) VIA PY-CODE theory:

<b>FILE: </b> collection of data to store data in computer on server or external storages.

1. VOLATILE-> file stored in ram like if you are playing games,
2. NON VOLATILE: data stored in HDD or pen-drive

TYPES OF TXT FILE:

1. TEXT FILE(.txt, .c)
2. BINARY FILE(.jpg, .dot)

<b>open(): </b>
    it is build-in func., used to opening a file,it takes 2
parameter (file name, mode) i.e.open("sample.txt","r")

USED FILE Formate : "data1.txt"

<b>MODE:</b> there are various mode of open() function used in text files.

<table style="width:100%">
<thead>
    <tr>
        <td><b>MODE</b></td><td><b>DESCRIPTION</b></td>
    </tr>
</thead>
<tbody>
    <tr><td>r</td><td>open for read</td></tr>
    <tr><td>w</td><td>open for write</td></tr>
    <tr><td>a</td><td>open for append</td></tr>
    <tr><td>x</td><td>create new file if its not exist already</td></tr>
    <tr><td>+</td><td>open for update</td></tr>
    <tr><td>rb</td><td>open for read in binary mode (binary files)</td></tr>
    <tr><td>rt</td><td>open for read in text mode(binary files)</td></tr>
</tbody>
</table>

<b>SYNTAX :</b>
<pre>
1. f = open("txt file name with path")
2. with open("txt file name with path") as object_name:
</pre>

<b>close():</b>
* it is used to close the text file.
* kindly always close the file in the end after using file.

<b>SYNTAX :</b>
<pre>object_name.close()</pre>

<b>NOTE : </b>
* 'r' is default mode in open().
* you no need to use close() if you are handling txt files using "with" keyword coz after working it'll automatically closed.

* ### read txt file :

To open the file, use the built-in function named <b>open() </b>.
The open() function returns a file object, which has a read() method for <b>reading the content</b> of the file.

There two mode used to read the files :

<b>r   :</b>  read mode to read the file<br>
<b>rt  :</b>  read mode to read the txt file

you can read content using read() and in opent() you can file name or file name with path and extention and mode of open()

<b>SYNTAX :</b>
<pre>declared_variable = object_name.close()</pre>

* there is also 2 ways to read the files.

1. default way ````:

In [1]:
f = open('poem.txt')
data = f.read()
print(data)
f.close()

Twinkle, Twinkle, Little Star
BY JANE TAYLOR
.......................................
Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.

When the blazing sun is gone,
When he nothing shines upon,
Then you show your little light,
Twinkle, twinkle, all the night.

Then the traveler in the dark
Thanks you for your tiny spark,
How could he see where to go,
If you did not twinkle so?

In the dark blue sky you keep,
Often through my curtains peep
For you never shut your eye,
Till the sun is in the sky.

As your bright and tiny spark
Lights the traveler in the dark,
Though I know not what you are,
Twinkle, twinkle, little star.

Source: The Golden Book of Poetry (1947)

2. via using path :

In [1]:
f = open('C://Users//rajen//Downloads//0. data science//poem.txt','r')
data = f.read()
print(data)
f.close()

Twinkle, Twinkle, Little Star
BY JANE TAYLOR
.......................................
Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.

When the blazing sun is gone,
When he nothing shines upon,
Then you show your little light,
Twinkle, twinkle, all the night.

Then the traveler in the dark
Thanks you for your tiny spark,
How could he see where to go,
If you did not twinkle so?

In the dark blue sky you keep,
Often through my curtains peep
For you never shut your eye,
Till the sun is in the sky.

As your bright and tiny spark
Lights the traveler in the dark,
Though I know not what you are,
Twinkle, twinkle, little star.

Source: The Golden Book of Poetry (1947)

3. via using 'with' keyword :

In [49]:
with open('poem.txt') as f:
    data = f.read()
    print(data)

Twinkle, Twinkle, Little Star
BY JANE TAYLOR
.......................................
Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.

When the blazing sun is gone,
When he nothing shines upon,
Then you show your little light,
Twinkle, twinkle, all the night.

Then the traveler in the dark
Thanks you for your tiny spark,
How could he see where to go,
If you did not twinkle so?

In the dark blue sky you keep,
Often through my curtains peep
For you never shut your eye,
Till the sun is in the sky.

As your bright and tiny spark
Lights the traveler in the dark,
Though I know not what you are,
Twinkle, twinkle, little star.

Source: The Golden Book of Poetry (1947)

* using loop

In [50]:
f = open("dummy.txt")
data = f.read()
for x in data:
    print(data)
    f.close()

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

this is line 1
this is line 1
this is line 1
this is line 4

In [51]:
f = open('dummy.txt')
data = f.read()
for x in data:
    print(x)
    f.close()

t
h
i
s

i
s

l
i
n
e

1


t
h
i
s

i
s

l
i
n
e

1


t
h
i
s

i
s

l
i
n
e

1


t
h
i
s

i
s

l
i
n
e

4

* <b>readline() :</b> read the file line by line

In [52]:
f = open("dummy.txt", "r")
print(f.readline())
f.close()

this is line 1

In [53]:
f = open("dummy.txt", "r")
print(f.readline())
print(f.readline())
print(f.readline())
print(f.readline())
print(f.readline())
print(f.readline())
print(f.readline())
print(f.readline())
print(f.readline())
print(f.readline())
print(f.readline())
print(f.readline())
f.close()

this is line 1

this is line 1

this is line 1

this is line 4

In [19]:
data = open("dummy.txt")
print(data.readline())
x = data.readline()
print("1. ",x)
y = data.readline()
print("2. ",y)
z = data.readline()
print("3. ",z)
data.close()

this is line 1

1.  this is line 2

2.  this is line 3

3.  this is line 4

* normal code and without mention 'r' in open()

In [17]:
f = open('demo1.txt','r')
f1 = open('demo2.txt')
data1 = f.read()
data2 = f1.read()
print(data1)
print(data2)
f.close()
f1.close()

this is demo 1

this is demo 2

* ### write the txt file

it's use to write in any text file but it is replace the data from new one to old or already written data.

there are mostly 3 mode used to write in the text file<br>
<b>w   :</b> write mode to write the file<br>
<b>wt  :</b> write mode to write the txt file<br>
<b>a   :</b> append mode to write after content the file

* first write in existing txt file than check it by read() funtion/ reading it.

1. write into txt file

In [31]:
f = open("new.txt", 'w')
data = f.write("you are welcome")
f.close()

In [32]:
f = open("new.txt", 'r')
data = f.read()
print(data)
f.close()

you are welcome

* if you use write() function again then it'll rewrite content

In [54]:
f = open("new.txt","w")
data = f.write("This is text file where we'll write using python file handling write() function. ")
f.close()
f = open("new.txt","r")
data = f.read()
print(data)
f.close()

This is text file where we'll write using python file handling write() function.

* in new.txt file already written 'you are welcome' and after using write() it replaced with 'this is text file where we'll write using python file handling write() function.'

* if in text file is already written then we must use 'a' append mode then our new content will write after already existing content, but in write mathod write() replace content.

In [38]:
f = open('new.txt','a')
data = f.write('This is content of second times.')
f.close()
f = open('new.txt', 'r')
data = f.read()
print(data)
f.close()

This is text file where we'll write using python file handling write() function. This is content of second times.

* let's write in exmpty text file and than try to read it

In [5]:
with open('demo.txt','w') as f:
    f.write('this is style 2.')
    
with open('demo.txt') as f:
    print(f.read())

this is style 2.

* #### file handling with "with" keyword.

* create txt file (way 1)

In [59]:
f = open("with.txt")
data = f.read()
f.close()

* create txt file (way 2)

In [60]:
with open("with.txt", 'r') as f:
    data = f.read()

* write into empty txt file (way 1)

In [64]:
f = open("with.txt", 'w')
data = f.write("hey welcome this is empty text file to write")
f.close()

* write into empty txt file (way 2)

In [6]:
with open("with.txt", 'w') as f:
    data = f.write("hey welcome this is empty text file to write")

* read the file (way 1)

In [67]:
f = open("with.txt")
data = f.read()
print(data)
f.close()

hey welcome this is empty text file to write

* read the file (way 2)

In [7]:
with open("with.txt") as f:
    data = f.read()
    print(data)

hey welcome this is empty text file to write

* write data in already written file (way 1)

In [68]:
f = open('with.txt','a')
data = f.write('this li line 2, ')
data = f.write('this is line 3')
data = f.close

f = open("with.txt","r")
data = f.read()
print(data)
f.close()

hey welcome this is empty text file to write

* write data in already written file (way 2)

In [70]:
with open('with.txt','a') as f:
    data = f.write('this li line 4,')
    data = f.write('this is line 5')
    data = f.close

with open("with.txt","r") as f:
    data = f.read()
    print(data)

hey welcome this is empty text file to writethis li line 2, this is line 3this li line 4, this is line 5this li line 4,this is line 5

<b>Ques. : </b>WAP to find out that given string exist in text file or not.

* find any data or information in txt file<br>

In [1]:
word = input("enter word to check weather is exist in poem 'the star' : ")
with open('poem.txt','r') as f:
    data = f.read()
    if word in data:
        print("word matched...")
    else:
        print("word doesn't exist...")

enter word to check weather is exist in poem 'the star' :  twinkle

word matched...

<b>Ques. : </b> WAP to generate table of 2-20 and save it in different-different txt files.<br>
<b>NOTE : </b> please check files in folder for making sure.

In [2]:
for i in range(2,21):
    with open(f"table of {i}.txt", 'w') as f:
        for j in range(1,11):
            f.write(f"{i} X {j} = {i*j}")
            if j!=10:
                f.write("\n")

<b>Ques. : </b> WAP to generate table of 2-20 and save it in different-different txt files and save this text file in specific folder.<br>
<b>NOTE : </b> please check files in folder for making sure.

In [6]:
for i in range(2,21):
    with open(f"E:\\1. Data Science\\0. Self Learning\\1.1. PROGRAMMING WITH PYTHON\\\\NOTEBOOKS\\table txt file\\table_of_{i}.txt","w") as f:
        for j in range(1,11):
            # f.write(f"{i}X{j}={i*j}\n") #way 1 but it'll add new line in line no.11
            f.write(f"{i} X {j} = {i*j}")
            if j!=10:
                f.write('\n')

<b>Ques. : </b> WAP to replace any word or string in txt file everywhere is that words written and how many times.<br>
<b>NOTE : </b>create a txt file names 'sample.txt' with write specific string in multiple time for using in code with following paragraph-
"this is john.
john is lazy and dumb person.
he don't complete work on time coz he is lazy.
lazy people are not good fit for team work.
he losts his job many time because he is so lazy.
no one like lazy people."

In [4]:
with open("sample.txt") as f:
    data = f.read()
    data = data.replace("lazy", "l***")
    with open("sample1.txt", 'w') as f:
        data = f.write(data)

with open("sample1.txt") as f:
    data = f.read()
    print(data)

this is john.
john is l*** and dumb person.
he don't complete work on time coz he is l***.
l*** people are not good fit for team work.
he losts his job many time because he is so l***.
no one like l*** people.

<b>Ques. : </b> WAP to replace/ hide words exists in list from txt file. <b>  OR  </b> WAP to hide words from collection in given txt file.

here is collection of words : ( "Damn, dumb, Hell, fool") <b>hide them using "*******"</b>

hide.txt file papagraph :

Well, damn, that was a dumb move! I can't believe I fell for that fool's trick. Now, I'm stuck in this hell of a situation. It's a reminder not to underestimate people, even if they seem like complete fools. Sometimes, appearances can be deceiving, and I've landed myself in quite a predicament. Hell, I'll have to find a way out of this mess and not let my guard down again.Well, damn, that was a dumb move! I can't believe I fell for such a foolish trick. Now, I find myself in a situation that feels like hell. It's a stark reminder that sometimes impulsive decisions can lead to regrettable outcomes. Next time, I'll be more cautious and avoid acting like a fool.

In [11]:
words =  ["Damn", "dumb", "Hell", "fool"]
with open("hide.txt", 'r') as f:
    data = f.read()

for word in words:
    data = data.replace(word, "*******")
    with open("hide.txt", 'w') as f:
        f.write(data)

with open("hide.txt", 'r') as f:
    data = f.read()
    print(data)

Well, damn, that was a ******* move! I can't believe I fell for that *******'s trick. Now, I'm stuck in this hell of a situation. It's a reminder not to underestimate people, even if they seem like complete *******s. Sometimes, appearances can be deceiving, and I've landed myself in quite a predicament. *******, I'll have to find a way out of this mess and not let my guard down again.Well, damn, that was a ******* move! I can't believe I fell for such a *******ish trick. Now, I find myself in a situation that feels like hell. It's a stark reminder that sometimes impulsive decisions can lead to regrettable outcomes. Next time, I'll be more cautious and avoid acting like a *******.

<b>Ques. : </b> WAP to create and maintain a txt file named highscore.txt with following condition -

the game() in a program lets a user play a game and returns a score as an integer. you need to read the text file highscore.txt which is either blank or contains the previous highscore whenever game() break the highscore.

def game(x):
    return x

x = int(input("enter your score : "))
score = game(200)

with open('highscore.txt','r') as f:
    newscor = f.read()

if int(newscore) < score :
    with open('highscore.txt','w') as f:
        data = f.write('score')
elif newscore == '':
    with open('highscore.txt','w') as f:
        data = f.write(score)

def game(x):
    return x

x = int(input("enter your score : "))
score = game(200)

with open('hiscore.txt','r') as f:
    newscore = f.read()

if int(newscore) < score :
    with open('hiscore.txt','w') as f:
        data = f.write(score)
elif newscore == '':
    with open('hiscore.txt','w') as f:
        data = f.write(score)

<b>Quiz : </b> WAP to mine a log file and findout whether it contains 'python' and make new code to find out line number.

In [18]:
with open("log.txt") as f:
    data = f.read().lower()
if "python" in data:
    print("words exists....")
else:
    print("words exists....")

words exists....

* now let's find out where that words exists in file

In [19]:
data = True
i = 1

with open("log.txt") as f:
    while data:
        data = f.readline()
        "python" in data.lower()
        print(data)
        print(f'\nstring present in file on line no,: {i}')
        i = i+1

03/22 08:51:06 INFO   :.....mailslot_create: creating mailslot for RSVP


string present in file on line no,: 1
03/22 08:51:06 INFO   :....mailbox_register: mailbox allocated for rsvp python has stopped working.....


string present in file on line no,: 2
03/22 08:51:06 INFO   :.....mailslot_create: creating mailslot for RSVP via UDP


string present in file on line no,: 3
03/22 08:51:06 INFO   :....mailbox_register: mailbox allocated for rsvp-udp


string present in file on line no,: 4
03/22 08:51:06 TRACE  :..entity_initialize: interface 127.0.0.1, entity for rsvp allocated and initialized


string present in file on line no,: 5
03/22 08:51:06 INFO   :......mailslot_create: creating socket for querying route


string present in file on line no,: 6
03/22 08:51:06 INFO   :.....mailbox_register: no mailbox necessary for forward


string present in file on line no,: 7
03/22 08:51:06 INFO   :......mailslot_create: creating mailslot for route engine - informational socket


string present in file on line no,: 8
03/22 08:51:06 TRACE  :......mailslot_create: ready to accept informational socket connection


string present in file on line no,: 9
03/22 08:51:11 INFO   :.....mailbox_register: mailbox allocated for route        python has stopped working.....


string present in file on line no,: 10
03/22 08:51:11 INFO   :.....mailslot_create: creating socket for traffic control module


string present in file on line no,: 11
03/22 08:51:11 INFO   :....mailbox_register: no mailbox necessary for traffic-control


string present in file on line no,: 12
03/22 08:51:11 INFO   :....mailslot_create: creating mailslot for RSVP client API


string present in file on line no,: 13
03/22 08:51:11 INFO   :...mailbox_register: mailbox allocated for rsvp-api


string present in file on line no,: 14
03/22 08:51:11 INFO   :...mailslot_create: creating mailslot for terminate


string present in file on line no,: 15
03/22 08:51:11 INFO   :..mailbox_register: mailbox allocated for terminate


string present in file on line no,: 16
03/22 08:51:11 INFO   :...mailslot_create: creating mailslot for dump


string present in file on line no,: 17
03/22 08:51:11 INFO   :..mailbox_register: mailbox allocated for dump


string present in file on line no,: 18
03/22 08:51:11 INFO   :...mailslot_create: creating mailslot for (broken) pipe


string present in file on line no,: 19
03/22 08:51:11 INFO   :..mailbox_register: mailbox allocated for pipe


string present in file on line no,: 20
 07


string present in file on line no,: 21
03/22 08:51:11 INFO   :.main: rsvpd initialization complete


string present in file on line no,: 22
 08


string present in file on line no,: 23
03/22 08:52:50 INFO   :......rsvp_api_open: accepted a new connection for rapi


string present in file on line no,: 24
03/22 08:52:50 INFO   :.......mailbox_register: mailbox allocated for mailbox


string present in file on line no,: 25
03/22 08:52:50 TRACE  :......rsvp_event_mapSession: Session=9.67.116.99:1047:6 does not exist


string present in file on line no,: 26
 09


string present in file on line no,: 27
03/22 08:52:50 EVENT  :.....api_reader: api request SESSION


string present in file on line no,: 28
 10


string present in file on line no,: 29
03/22 08:52:50 TRACE  :......rsvp_event_establishSession: local node will send   python has stopped working.....


string present in file on line no,: 30
03/22 08:52:50 INFO   :........router_forward_getOI: Ioctl to get route entry successful


string present in file on line no,: 31
03/22 08:52:50 TRACE  :........router_forward_getOI:         source address:   9.67.116.98


string present in file on line no,: 32
03/22 08:52:50 TRACE  :........router_forward_getOI:         out inf:   9.67.116.98


string present in file on line no,: 33
03/22 08:52:50 TRACE  :........router_forward_getOI:         gateway:   0.0.0.0


string present in file on line no,: 34
03/22 08:52:50 TRACE  :........router_forward_getOI:         route handle:   7f5251c8 python has stopped working...


string present in file on line no,: 35
 11


string present in file on line no,: 36
03/22 08:52:50 TRACE  :.......event_establishSessionSend: found outgoing if=9.67.116.98 through python has stopped working.....


string present in file on line no,: 37
forward engine


string present in file on line no,: 38
03/22 08:52:50 TRACE  :......rsvp_event_mapSession: Session=9.67.116.99:1047:6 exists


string present in file on line no,: 39
 12


string present in file on line no,: 40
03/22 08:52:50 EVENT  :.....api_reader: api request SENDER


string present in file on line no,: 41
 13


string present in file on line no,: 42
03/22 08:52:50 INFO   :.......init_policyAPI: papi_debug:  Entering


string present in file on line no,: 43



string present in file on line no,: 44
03/22 08:52:50 INFO   :.......init_policyAPI: papi_debug:  papiLogFunc = 98681F0 papiUserValue = 0


string present in file on line no,: 45



string present in file on line no,: 46
03/22 08:52:50 INFO   :.......init_policyAPI: papi_debug:  Exiting


string present in file on line no,: 47



string present in file on line no,: 48
03/22 08:52:50 INFO   :.......init_policyAPI: APIInitialize:  Entering


string present in file on line no,: 49



string present in file on line no,: 50
03/22 08:52:50 INFO   :.......init_policyAPI: open_socket:  Entering


string present in file on line no,: 51



string present in file on line no,: 52
03/22 08:52:50 INFO   :.......init_policyAPI: open_socket:  Exiting


string present in file on line no,: 53



string present in file on line no,: 54
03/22 08:52:50 INFO   :.......init_policyAPI: APIInitialize:  ApiHandle = 98BDFB0,  connfd = 22


string present in file on line no,: 55



string present in file on line no,: 56
03/22 08:52:50 INFO   :.......init_policyAPI: APIInitialize:  Exiting


string present in file on line no,: 57



string present in file on line no,: 58
03/22 08:52:50 INFO   :.......init_policyAPI: RegisterWithPolicyAPI:  Entering   python has stopped working.....

string present in file on line no,: 59


string present in file on line no,: 60

### copy text file:

<b>Quiz : </b> WAP to make copy file of text file.<br>
make a copy of <b>poem.txt</b> in a new text file named <b>copy.txt</b>

In [23]:
with open('poem.txt') as f:
    data = f.read()
with open('copy.txt','w') as f:
    data = f.write(data)

### compare text file data:

<b>Quiz : </b> WAP check any 2 or more txt files have same data or not.<br><b> OR </b><br>
WAP check copied txt file copy 100% or not.<br><b> OR </b><br>
WAP to check two file are identical or not (file's content matched or not)

In [24]:
with open('copy.txt','r') as f:
    data1 = f.read()
with open('poem.txt','r') as f:
    data2 = f.read()
if data1 == data2:
    print('files are identical...')
else:
    print("files aren't identical...")

files are identical...

### rename the text file :

<b>Quiz : </b> WAP to Rename text file.

In [28]:
import os

newname = "rename.txt"
oldname = "font.txt"

with open(oldname, 'r') as f:
    data = f.read()
with open(newname, 'w') as f:
    data = f.write(data)
os.remove(oldname)

<b>NOTE : </b> To delete any file or folder, you must import the OS module, and run its os.remove(args) function.

### delete the file

In [29]:
import os
os.remove('delete.txt')

* check if file exist then delete if not then show msg.

In [31]:
import os
if os.path.exists('delete.txt'):
    os.remove('delete.txt')
    print("file deleted...")
else:
    print("file doesn't exist...")

file doesn't exist...

### delete folder
<b>Note:</b> You can only remove empty folders.

In [34]:
import os
os.rmdir('delete')

* if you try to delete any directories(folder) who hold any files than you'll get following error.

<Blockquote>import os
os.rmdir('delete')</Blockquote>
<pre>
<b>ERROR : </b>
---------------------------------------------------------------------------
<b>OSError</b>                                   Traceback (most recent call last)
Cell <b>In[33], line 2</b>
      1 import os
----> <b>2</b> os.rmdir('delete')

<b>OSError:</b> [WinError 145] The directory is not empty: 'delete'</pre>

# upcoming new chapters:

* map(), filter() & reduce()
* f'string'
* list comprehensive
* enumenator
* global variable
* PIP
* virtual environment

## functional programming:
it supports functions being passed as parameters to another function as variables. it allows to create higher-order functions. mostly, functional programming used in data analysis to transform or filter results more efficiently than using plain looping.

In functional programming, we use 2 functions. these are-
1. map()
2. filter()

* <b>map(): </b>used to n to apply a function to each element of an iterable and return a map object.<br>
<b>SYNTAX: </b> variable_name = map(function,input iteraable object)

* <b>example : </b> square of all elements of list.

In [3]:
mylist = [1,2,3,4,5,6]

* <b>traditional way : </b>

In [17]:
def square(item):
    return item*item

sqr_li = []

for item in mylist:
    sqr_li.append(square(item))
print(sqr_li)

[1, 4, 9, 16, 25, 36]

* <b> modern way : </b> with using map function.

* <b> way 1 : </b>

In [5]:
def sqr(x):
    return x * x

sqr_list = map(sqr,mylist)
print(list(sqr_list))

[1, 4, 9, 16, 25, 36]

* <b>way 2 : </b> with using lambda function.

In [12]:
print(list(map(lambda x : x * x, mylist)))

[1, 4, 9, 16, 25, 36]

In [9]:
mytuple = (1,2,3,4,5)
sqr_tpl = map(lambda x : x * x, mytuple)
print(tuple(sqr_tpl))

(1, 4, 9, 16, 25)

In [10]:
type(sqr_tpl)

map

* <b>filter(): </b>used to print sequence with the help of a function that tests each element in the sequence to be true or not (filter create a list of items for which the function return true).<br>
<b>SYNTAX: </b> variable_name = filter(function,input iteraable object)

* <b>example 1 : </b> even elements from list.

In [26]:
mylist = [1,2,3,4,5,6]

* <b> treditional way : </b>

In [27]:
def even(x):
    if x%2==0:
        return True
    else:
        return False

print(list(filter(even,mylist)))

[2, 4, 6]

* <b> modern way : </b>

In [21]:
even_list = filter(lambda x : x % 2 == 0, mylist )
print(list(even_list))

[2, 4, 6]

* <b>example 2 : </b> elements greater than 5 from list.

In [29]:
li = [1,2,3,4,5,6,7,8,9]

* <b> treditional way : </b>

In [31]:
def g_fiv(x):
    if x > 5:
        return True
    else:
        return False
print(list(filter(g_fiv, li)))

[6, 7, 8, 9]

* <b> modern way : </b>

In [32]:
print(list(filter(lambda x : x > 5, li)))

[6, 7, 8, 9]

* <b>difference between map() vs filter()</b><br>

<b>difference : </b><b>map</b> and <b>filter</b> are equivalent to writing a generator expression The <b>map function</b> takes each item in a given iterable and and includes all of them in a new lazy iterable, transforming each item along the way The <b>filter function</b> doesn't transform the items, but it's selectively picks out which items it should include in the new lazy iterable

* <b>reduce(): </b>used to apply a particular function passed in its argument to all of the list elements mentioned in the sequence passed along.This function is defined in “functools” module (you have to import 'reduce()' from functools using "from functools import reduce" statement reduce applies a rolling computation to sequential pair of elemets).<br>
<b>SYNTAX: </b> variable_name = reduce(function,input iteraable object)

In [37]:
from functools import reduce

newlist = [2,3,5,8,9,0,12]

sum_of_list = reduce(lambda a,b : a + b, newlist)
print(sum_of_list)

39

[use this youtube playlist in revision time to add skipped features](https://www.youtube.com/watch?v=f7RLlF7HOuc&list=PLbWugmIR3FS4FGExKrnbwRH0DlsKVhQP-&index=1&t=0s)

# References

<b>Official Portals :</b>
1. [Python](https://docs.python.org/3/)
2. [Playsound](https://pypi.org/project/playsound/)
3. [OpenCV](https://opencv.org/)
4.

<b>Websites :</b><br>
1. [W3School](https://www.w3schools.com/python/)
2. [geeks for geeks](https://www.geeksforgeeks.org/python-programming-language/)
3. [jupyter markdown](https://spec.commonmark.org/0.31.2/)

<b>Youtube Playlists :</b><br>
1. [Code with Daneyal Lari](https://www.youtube.com/watch?v=f7RLlF7HOuc&list=PLbWugmIR3FS4FGExKrnbwRH0DlsKVhQP-&index=1&t=0s)
2. [Code with Herry](https://www.youtube.com/watch?v=gfDE2a7MKjA)

<b>tools :</b><br>
* [Convert jupyter noterbook to PDF](https://www.vertopal.com/)